{% extends "::admin.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
<!-- BEGIN BODY -->
<body class="fixed-top">


        <!-- BEGIN PAGE -->  
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->   
                <div class="row-fluid">
                    <div class="span12">

                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <h3 class="page-title">
                            <!-- FAQ -->
                        </h3> 
                        <ul class="breadcrumb">
                            <li>
                                <a href="{{path('adventure_home')}}">Home</a>
                                <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="{{path('adventure_bidding_organiser_dashboard')}}">All Request</a>
                                <span class="divider">/</span>
                            </li>
                            <li class="active">
                                Organiser Conversation
                            </li>

                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
                <div class="row-fluid">
                    
                    <div class="span12">
                        <!-- BEGIN BLANK PAGE PORTLET-->
                        <div class="widget blue">
                            <div class="widget-title">
                                <h4><i class="icon-question-sign"></i> Request and Comments </h4>

                            </div>
                            <div class="widget-body">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <h4 class="title grey" style="font-weight:bold; color:#000;">Users Request Details</h4>

                                        <!-- BEGIN HORIZONTAL DESCRIPTION LISTS PORTLET-->
                                        <div class="widget blue">
                                            <div class="widget-title">
                                                <h4><i class="icon-reorder"></i> User's Request Details </h4>

                                            </div>
                                            <div class="widget-body">
                                                <div class="row-fluid">
                                                    <div class= "span12">
                                                        <h3>Trip Info:</h3>
                                                        <ul class=" unstyled amounts">
                                                            <li class="text-bold">Trip Name	: {{request.name}}</li>
                                                            <li  class="text-bold">No of Males: {{request.male}}</li>
                                                            <li  class="text-bold">No Of Females	: {{request.female}}</li>
                                                            <li  class="text-bold">No Of Travellers	: {{request.traveler}} </li>
                                                            <li  class="text-bold">Pick-Up Location	: {{request.pick}}</li>
                                                            <li  class="text-bold">Drop Location	: {{request.down}}</li>
                                                            <li  class="text-bold">Trip Tentative (in days)	: {{request.day}}</li>
							{% if request.team == 0 %}
                                                            <li  class="text-bold">Combine Group	: No</li>
                                                     {% else %}
                                                            <li  class="text-bold">Combine Group	: Yes</li>
                                                     {% endif %}

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class= "span6">
                                                        <h3>Activities:</h3>
                                                        <ul class=" unstyled amounts">
                                                            <li class="text-bold">Land	: Rock climbing, Camping</li>
                                                            <li  class="text-bold">Water: Rafting,Sailing</li>
                                                            <li  class="text-bold">Aero	: Paramotoring,Hang Gliding</li>
                                                            <li  class="text-bold">Off-Beat  : Cycling,Caving </li>
                                                            <li  class="text-bold">Location  : Goa , Shimla,Srinagar.</li>

                                                        </ul>
                                                    </div>
                                                    <div class= "span6">
                                                        <h3>Location:</h3>
                                                        <ul class=" unstyled amounts">

                                                            <li  class="text-bold">Zone	: {{request.zone}}</li>
                                                            <li  class="text-bold">Country	: {{request.country}}</li>


                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="row-fluid">
                                                    <div class= "span12">
                                                        <h3>Special Requirements:</h3>
                                                        <ul class=" unstyled amounts">
                                                            <li class="text-bold"><p> {{request.description}} </p></li>


                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>   <!-- END row-fluid -->
                                        </div>
                                        <!-- END HORIZONTAL DESCRIPTION LISTS PORTLET-->
                                    </div>
                                    <div class="span6">
                                        <h2><span class="bord">Organiser Participated</span></h2>
                                        <div class="widget">                                        
                                        {% for listOrganiser in listOrganiser %}
                                            	  
<a href="#myModal{{loop.index}}" role="button" class="btn btn-default btn-sm btn-radius list-bord-font" data-toggle="modal"> {{listOrganiser}}</a>
<div id="myModal{{loop.index}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Conversation With  {{listOrganiser}} Organiser</h3>
            </div>
            <div class="modal-body">
                <p>
                      <div class="accordion-body collapse in" id="collapseOne">
                                                <div class="accordion-inner">
                                                    <div class="widget red">
                                                        <div class="widget-title">
                                                            <h4><i class="icon-comments-alt"></i> Conversation</h4>
                                                            
                                                        </div>
                                                        <div class="widget-body widgetoverflow">
                                                            {% for comment in comment %}
                                                            <div class="timeline-messages">
                                                                
                                                                {% if comment.user != null%}
                                                                <!-- Comment -->
                                                                <div class="msg-time-chat">
                                                                    <a class="message-img" href="#"><img alt="" src="{{asset(comment.user.webpath)}}" class="avatar"></a>
                                                                    <div class="message-body msg-in">
                                                                        <span class="arrow"></span>
                                                                        <div class="text">
                                                                            <p class="attribution"><a href="#">{{comment.user}}</a> at {{comment.createdAt|date()}}</p>
                                                                            <p>{{comment.description}}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- /comment -->
                                                                {% elseif comment.organiser != null %}
                                                                <!-- Comment -->
                                                                    <div class="msg-time-chat">
                                                                        <a class="message-img" href="#"><img alt="" src="{{asset(comment.organiser.webpath)}}" class="avatar"></a>
                                                                        <div class="message-body msg-out">
                                                                            <span class="arrow"></span>
                                                                            <div class="text">
                                                                                <p class="attribution"> <a href="#">{{comment.organiser}}</a> at {{comment.createdAt|date()}}</p>
                                                                                <p>{{comment.description}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /comment -->
                                                                {% endif %}
                                                                    
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                            


                                            </div>
                </p>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
            
            </div>
      </div>

                                        
                                {% endfor %}
                                   </div>         {######################################################################}
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END BLANK PAGE PORTLET-->
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->  
    </div>
    <!-- END CONTAINER -->
    </div>
<!-- model start here -->

</body>
<!-- END BODY -->
{%endblock%}

{%block javascripts %}
{{parent()}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
    
    
    function getdetails(){
        alert('hurrey');
          $.ajax({url: "demo_test.txt", success: function(result){
            $("#div1").html(result);
        }});
       }
    
</script>

{%endblock%}