{% extends '::base.html.twig' %}

{% block body -%}
    <h1>event list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ename</th>
                <th>Eactivity</th>
                <th>Eorganizer</th>
                <th>Budget</th>
                <th>Econtactdetail</th>
                <th>Duration</th>
                <th>Edate</th>
                <th>Emonth</th>
                <th>Eyear</th>
                <th>Edifficulty</th>
                <th>Ezone</th>
                <th>Continent</th>
                <th>Country</th>
                <th>Estate</th>
                <th>Eregion</th>
                <th>Edestination</th>
                <th>Ebrief</th>
                <th>Logo</th>
                <th>Status</th>
                <th>Eregistrationdate</th>
                <th>Flag</th>
                <th>Email</th>
                <th>Uniquee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.ename }}</td>
                <td>{{ entity.eActivity }}</td>
                <td>{{ entity.eOrganizer }}</td>
                <td>{{ entity.budget }}</td>
                <td>{{ entity.eContactDetail }}</td>
                <td>{{ entity.duration }}</td>
                <td>{{ entity.eDate }}</td>
                <td>{{ entity.eMonth }}</td>
                <td>{{ entity.eYear }}</td>
                <td>{{ entity.eDifficulty }}</td>
                <td>{{ entity.eZone }}</td>
                <td>{{ entity.continent }}</td>
                <td>{{ entity.country }}</td>
                <td>{{ entity.eState }}</td>
                <td>{{ entity.eRegion }}</td>
                <td>{{ entity.eDestination }}</td>
                <td>{{ entity.eBrief }}</td>
                <td>{{ entity.logo }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.eRegistrationDate }}</td>
                <td>{{ entity.flag }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.uniquee }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('event_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('event_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('event_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
