{% extends '::base.html.twig' %}

{% block body -%}
    <h1>event</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Ename</th>
                <td>{{ entity.ename }}</td>
            </tr>
            <tr>
                <th>Eactivity</th>
                <td>{{ entity.eActivity }}</td>
            </tr>
            <tr>
                <th>Eorganizer</th>
                <td>{{ entity.eOrganizer }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ entity.budget }}</td>
            </tr>
            <tr>
                <th>Econtactdetail</th>
                <td>{{ entity.eContactDetail }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ entity.duration }}</td>
            </tr>
            <tr>
                <th>Edate</th>
                <td>{{ entity.eDate }}</td>
            </tr>
            <tr>
                <th>Emonth</th>
                <td>{{ entity.eMonth }}</td>
            </tr>
            <tr>
                <th>Eyear</th>
                <td>{{ entity.eYear }}</td>
            </tr>
            <tr>
                <th>Edifficulty</th>
                <td>{{ entity.eDifficulty }}</td>
            </tr>
            <tr>
                <th>Ezone</th>
                <td>{{ entity.eZone }}</td>
            </tr>
            <tr>
                <th>Continent</th>
                <td>{{ entity.continent }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ entity.country }}</td>
            </tr>
            <tr>
                <th>Estate</th>
                <td>{{ entity.eState }}</td>
            </tr>
            <tr>
                <th>Eregion</th>
                <td>{{ entity.eRegion }}</td>
            </tr>
            <tr>
                <th>Edestination</th>
                <td>{{ entity.eDestination }}</td>
            </tr>
            <tr>
                <th>Ebrief</th>
                <td>{{ entity.eBrief }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ entity.logo }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Eregistrationdate</th>
                <td>{{ entity.eRegistrationDate }}</td>
            </tr>
            <tr>
                <th>Flag</th>
                <td>{{ entity.flag }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Uniquee</th>
                <td>{{ entity.uniquee }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('event_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
