{% extends "::headerbase.html.twig" %}

{% block stylesheets %}

{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">

   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">
     
      <!-- BEGIN PAGE -->  
      <div id="main-content" class="maincon">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE CONTENT-->
           
                <div class="row-fluid">
                	<div class="span6 pull-left ">
                    <span class="span12 text-center page-title headerbg text-info"><b>Adventure photo, video, trails</b></span>
                        <div class="span4 overall" style="margin-left:0px">	
                            <div class="circle-container">
                                <div class="outer-ring"></div>
                                <div class="circle">
                                   <a class="" href="http://adventureclicknblog.com/trails.php"> 
                                    <div class="front">
                                        <p>10</p>
                                    </div>
                                    <div class="back">
                                       
                                    </div>
                                    </a>
                                </div>
                                <h3 class="text-center">Adventure Trails/ Trips / Tours</h3>
                            </div>
                         </div>
                         
                         <div class="span4 overall">	
                  		<div class="circle-container">
                            <div class="outer-ring"></div>
                            <div class="circle">
                               <a class="" href="http://adventureclicknblog.com/allAlbums.php"> 
                                <div class="front">
                                    <p>73</p>
                                </div>
                                <div class="back">
                                   
                                </div>
                                </a>
                            </div>
                            <h3 class="text-center">Adventure Photos</h3>
                        </div>
                     </div>
                     
                     <div class="span4 overall">	
                  		<div class="circle-container">
                            <div class="outer-ring"></div>
                            <div class="circle">
                               <a class="" href="http://adventureclicknblog.com/allVideos.php"> 
                                <div class="front">
                                    <p>120</p>
                                </div>
                                <div class="back">
                                   
                                </div>
                                </a>
                            </div>
                            <h3 class="text-center">Adventure Videos</h3>
                        </div>
                     </div>
                     
                     <div class="span4 overall" style="margin-left:0px">	
                  		<div class="circle-container">
                            <div class="outer-ring"></div>
                            <div class="circle" >
                               <a class="" href="http://adventureclicknblog.com/travelogues.php"> 
                                <div class="front">
                                    <p>100</p>
                                </div>
                                <div class="back">
                                   
                                </div>
                                </a>
                            </div>
                            <h3 class="text-center">Adventure Travelogues</h3>
                        </div>
                     </div>
                     
                     <div class="span4 overall">	
                  		<div class="circle-container">
                            <div class="outer-ring"></div>
                            <div class="circle">
                               <a class="" href="http://adventureclicknblog.com/specials.php"> 
                                <div class="front">
                                    <p>89</p>
                                </div>
                                <div class="back">
                                   
                                </div>
                                </a>
                            </div>
                            <h3 class="text-center">Adventure Specials</h3>
                        </div>
                     </div>
                     
                     <div class="span4 overall">	
                  		<div class="circle-container">
                            <div class="outer-ring"></div>
                            <div class="circle">
                               <a class="" href="http://adventureclicknblog.com/photologues.php"> 
                                <div class="front">
                                    <p>32</p>
                                </div>
                                <div class="back">
                                   
                                </div>
                                </a>
                            </div>
                            <h3 class="text-center">Adventure photolouges</h3>
                        </div>
                     </div>
     
                    
                	</div>
                    <div class="span6">
                    <span class=" text-center page-title headerbg text-info"><b>Request list</b></span>
                    <!--marquee start here-->
                    <article class="marquee page  pull-right">
 						  
                          <ul class="timeline">
                           <!--Display list of request start-->
                           {% for request in request %}
                                <li class="timeline-milestone is-current">
                                  <div class="timeline-action is-expandable expanded">
                                    <h2 class="title">{{request.name }}</h2>
                                        {{request.updatedAt|date('d-M-Y') }}
                                    <div class="content">
                                      <ul class="file-list">
                                        <li>Zone : {{request.zone }}</li>
                                        <li>Location : {{request.location }}</li>
                                        <li>Day : {{request.day }}</li>
                                        <li>Description : {{request.description }}</li>
                                      </ul>
                                    </div>
                                  </div>
                                </li>
                            {% endfor %}
                           <!--Display list of request end--> 
                          </ul>
                        </article>
                         <!--marquee End here-->
                   </div>
                </div>
                
            <!-- END PAGE CONTENT-->         
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->
   {%endblock%}
   
{%block javascripts %}
{{parent()}}

  <script type="text/javascript">
  $('.marquee').marquee({
    //speed in milliseconds of the marquee
    duration: 11000,
    //gap in pixels between the tickers
    gap: 50,
    //time in milliseconds before the marquee will start animating
    delayBeforeStart: 1000,
    //'left' or 'right'
    direction: 'up',
    //true or false - should the marquee be duplicated to show an effect of continues flow
    duplicated: true,
	
	pauseOnHover:true,
	//pauseOnCycle:'resume'

});

  </script>

 {%endblock%}