<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Adventure Bidding System</title>

    <link rel="stylesheet" href="{{asset('home/css/login.css')}}" media="screen" type="text/css" />
    <link href="{{asset('home/assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="flatix">
		<header class="headertop">
        	<h3>Adventure Bidding System</h3>
			<span class="title"><strong>Member Sign In</strong></span>
		</header>
       
		<section>
        
        	<!-- Acknowledgement message start -->
                    {% for flashMessage in app.session.flashbag.get('notice') %} 
                        <div class="alert alert-success fade in">
                              <button data-dismiss="alert" class="close" type="button">×</button>
                              <h4 class="alert-heading">Success!</h4>
                              <p>
                                  {{ flashMessage }}
                              </p>
                          </div>
                    {% endfor %}
                    {% if error is not defined %}
                    {% else %}
                    {% if error %}
                        <div class="alert alert-danger fade in">
                              <button data-dismiss="alert" class="close" type="button">×</button>
                              <h4 class="alert-heading">Error!</h4>
                              <p>
                                  {{ error.message }}
                              </p>
                          </div>
                    {% endif %}
                    {% endif %}
                    <!-- Acknowledgement message end -->
			<form class="loginform" action="{{ path('login_check') }}" method="post">
                            <input type="text" name="_username" class="maill" placeholder="E-Mail Id">
                            <input type="password" name="_password" class="passwordd" placeholder="Password">
                            <a href="#myModal" role="button" data-toggle="modal" title="Lost your password?">Lost your password?</a>
                       	    <input type="submit" class="login" value="SIGN IN">
			</form>
			<div class="or">
				<div class="facebook">
					<a href="{{path('adventure_login_user_register')}}" title="Sign up">SignUp as User</a>
				</div>
				<div class="twitter">
					<a href="{{path('adventure_login_organiser_register')}}" title="Sign up">SignUp as Organizer</a>
				</div>
				
			</div>
		</section>
		<div class="footsec">Copyright &copy; 2006 - 2015</div>
	</div>
    

<!--model for forgate password-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Enter your E-Mail</h4>
    </div>
    <div class="modal-body">
        <form action="{{path('forgot_password_mail')}}" method="post">
            <input type="email" class="span6" id="email" name="email"  placeholder="Enter your Registered email id" />
            <p>After click on submit, please check your mail</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Submit</button>
    </div>
    </div>
    
 <!--End model for forgate password-->   
  <script src="{{asset('home/js/jquery-1.8.3.min.js')}}"></script>
  <script src="{{asset('home/assets/bootstrap/js/bootstrap.min.js')}}"></script>

</body>

</html>