{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                    Organizer Dashboard
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="{{path('adventure_home')}}">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           All Request
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
               <div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                
                <div class="widget blue">
                    <div class="widget-title">
                        <h4><i class="icon-search"></i> Filter Your Search</h4>
                         
                    </div>
                    <div class="widget-body">
                         <form class="form-inline" method="post">
                         <div class="row-fluid">
                         
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Filter Search</label>
                          <div class="controls">
                                    <select class="span8 " data-placeholder="Choose a Category" tabindex="1">
                                        <option value="">Select Filter</option>
                                        <option value="Activities">Activities</option>
                                        <option value="Zones">Zones</option>
                                        <option value="Category 3">Articles</option>
                                        <option value="Category 4">Location</option>
                                    </select>
                                </div>
                          
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Search</label>
                           <div class="controls">
                          <input type="text" class="span8"/>   
                          </div>
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          
                          <label class="control-label"></label>
                          <div class="controls">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Submit</button>
                         <button type="button" class="btn">Cancel</button>
                
               </div>
                          </div>
                         </div>
                         
                         
                         </div>
                         
                         </form>
                        
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
                <div class="row-fluid">
                    <!--marquee start here-->
                    <div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget blue">
                            <div class="widget-title">
                                <h4>Bidding Info</h4>
                            </div>
                            <div class="widget-body">
                                <table class="table table-striped table-bordered  table-hover" id="sample_1">
                                    <thead>
                                    <tr>
                                    	 <th class="hidden-phone">Sr. No.</th>
                                         <th>Your Request</th>
                                         <th>Request Title</th>
                                       	 <th>Status</th>
                                         <th>Received Bid</th>
                                         <th>User Response</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% set count = '1' %}
                                    {% for requestUser in requestUser %}
                                    <tr>
                                    	 <td class="hidden-phone">{{ count }}</td>
                                         <td>{{requestUser.trip }}</td>
                                         <td>{{requestUser.username }}</td>
                                         {% if(requestUser.status=="0") %}
                                            <td><span class="label label-success label-mini">close</span></td>
                                            <td>
                                                <a href="{{path("adventure_bidding_organiser_view_close_request",{"id":requestUser.reqid})}}" class="btn btn-success">Click to See</a>
                                            </td>
                                        {% else %}
                                            <td><span class="label label-important label-mini">open</span></td>
                                            <td>
                                                <a href="{{path("adventure_bidding_organiser_view_open_request",{"id":requestUser.reqid})}}" class="btn btn-success">Click to See</a>
                                            </td> 
                                            
                                        {% endif%}
                                               {% for message in requestUser.messagecount %}
                                            <td><a href="{{path("adventure_bidding_organiser_view_open_request",{"id":requestUser.reqid})}}">
                                            <input type="button" class="btn-danger" value="{{message[1]}}">&nbsp;&nbsp;New message</a></td>
                                            {% endfor %}
                                    </tr>
                                    {% set count = count + '1' %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
                         <!--marquee End here-->
                </div>
                
                
            </div>

            <!-- END PAGE CONTENT-->         

      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->

    
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}