{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
<style>
    .btn-circle.btn-xl {
  width: auto !important;
  height: auto !important;
  padding: 10px 16px !important;
  font-size: 24px ;
  line-height: 1.33 !important;
  border-radius: 35px !important;
}
    </style>
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">
      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                   
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="">
                           My Profile <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Edit Profile
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
      <div class="row-fluid">
        <div class="span12"> 
            <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
          <!-- BEGIN ACCORDION PORTLET-->
          <div class="widget blue">
            <div class="widget-title">
              <h4><i class="icon-user"></i>Edit Organizer Inforation</h4>
            </div>
            <div class="widget-body">
              <div class ="row-fluid">
                <div class="span12">
                  {{form_start(Form,{'attr':{'class':'form-vertical'} } )}}
                    <div class="well">
                      <h3>Personal Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Full Name</label>
                            {{ form_widget(Form.name,{'attr':{'class':'input-block-level'} } ) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Email </label>
                            {{ form_widget(Form.email,{'attr':{'class':'input-block-level'} } ) }} {{  form_errors(Form.email) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Zones</label>
                            <div class="controls">
                                {{ form_widget(Form.zone,{'attr':{'class':'input-block-level chzn-select','id':'select2_sample4'} }) }} {{  form_errors(Form.zone) }}
                            </div>
                          </div>
                        </div>
                        
                       
                      </div>
                      <div class="row-fluid">
                      <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Phone No </label>
                            {{ form_widget(Form.phone,{'attr':{'class':'input-block-level'} } ) }} {{  form_errors(Form.phone) }}
                          </div>
                        </div>
                        <div class="span4">
                        
                         <div class="control-group">
                                    <label class="control-label">Image Upload</label>
                                    <div class="controls">
                                        <div data-provides="fileupload" class="fileupload fileupload-new">
                                            <div style="width: 200px; height: 150px;" class="fileupload-new thumbnail">
                                                <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                            </div>
                                            <div style="max-width: 200px; max-height: 150px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                            <div>
                                               <span class="btn btn-file"><span class="fileupload-new">Select image</span>
                                               <span class="fileupload-exists">Change</span>
                                               {{ form_widget(Form.applicantphoto,{'attr':{'class':'default'} }) }} {{  form_errors(Form.applicantphoto) }}</span>
                                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                        
                        </div>
                      
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Country</label>
                            {{ form_widget(Form.country,{'attr':{'class':'input-block-level chzn-select','id':'select2_sample4'} }) }} {{  form_errors(Form.country) }}
                            
                          </div>
                        </div>
                          <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Zip Code</label>
                            {{ form_widget(Form.zip,{'attr':{'class':'input-block-level'} } ) }} {{  form_errors(Form.zip) }}
                          </div>
                        </div>
                    <div class="span4">
                        <div class="control-group">
                          <label class="input-block-level"> Address: </label>
                          <div class="controls">
                            {{ form_widget(Form.address,{'attr':{'class':'span12'} } ) }} {{  form_errors(Form.address) }}
                          </div>
                        </div>
                      </div>
                      </div>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >State</label>
                            <input type="text" class="input-block-level" placeholder="Enter State Name"  name="state">
                          </div>
                        </div>
                          <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >City</label>
                            <input type="text" class="input-block-level" placeholder="Enter City Name"  name="city">
                          </div>
                        </div>
                          <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >About Me</label>
                            <textarea class="input-block-level" row="4" cols="10"  name="about"></textarea>
                          </div>
                        </div>
                          
                      </div>
                    </div>
                    <div class="well">
                      <h3>Activities Details </h3>
                      <hr>
                      <div class ="row-fluid">
                           <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Activities</label>
                            {{ form_widget(Form.activity,{'attr':{'class':'input-block-level chzn-select','id':'select2_sample4'} }) }} {{  form_errors(Form.activity) }}
                           
                          </div>
                        </div>
                       <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >State</label>
                            {{ form_widget(Form.state,{'attr':{'class':'input-block-level chzn-select','id':'select2_sample4'} }) }} {{  form_errors(Form.state) }}
                          </div>
                        </div>
                        
                       
                      
                    </div>
                    
                    {{ form_rest(Form) }}
                    <div class="form-actions">
                      <input type="submit" class="btn btn-primary" value="Submit">
                      <a href="{{path('adventure_bidding_organiser_edit_profile')}}"><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>
                  {{form_end(Form)}}
                </div>
                                <div class="well">
                      <h3>User Trails </h3>
                      <hr>
                      <div class ="row-fluid">

<div role="tabpanel">

  <!-- Nav tabs -->
  <div class="row-fluid" role="tablist">
    <button role="" class="btn btn-success btn-circle btn-xl"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Trails</a></button>
    <button role="" class="btn btn-info btn-circle btn-xl"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Travelogues</a></button>
    <button role="" class="btn btn-warning btn-circle btn-xl"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Photologues</a></button>
    
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
                    <div class="form-actions">
                    <div class="control-group">
                      <label class="control-label labelmargin" >Trail Comming Soon</label>
                    </div>
                    </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
                    <div class="form-actions" >
                    <div class="control-group">
                      <label class="control-label labelmargin" >Travelogues Comming Soon</label>
                    </div>
                    </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="messages">
                    <div class="form-actions" >
                    <div class="control-group">
                      <label class="control-label labelmargin" >Photologues Comming Soon</label>
                    </div>
                    </div>
    </div>
  
  </div>

</div>

                    
                      
                     
                        
                     
                        
                       
                      
                    </div>
                    <div class="form-actions">
                      <input type="submit" class="btn btn-primary" value="Submit">
                      <a href=""><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>
                </div>
                </div>

                  <div class="well">
                      <h3>Add You Trails/Trip </h3>
                      <hr>
                      <div class ="row-fluid">
                           <div class="span4">
                          <div class="form-group">
                            {{form_start(event,{'attr':{'class':'form-vertical'} } )}}
                                                       
                              
                               {{ form_rest(event) }}
                        </div>
                        
                    </div>
                    <div class="form-actions">
                      <input type="submit" class="btn btn-primary" value="Submit">
                      <a href=""><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>
                          {{form_end(event)}}
                </div>
                
                </div>
              
              
             
              
            </div>
            <!-- END ACCORDION PORTLET--> 
          </div>
        </div>
        
        <!-- END PAGE CONTENT--> 
      </div>
      
      <!-- END PAGE CONTENT--> 
      
    </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->
  
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
		$('.multipl').multiselect();
		});
   
}    
</script>
<script>

$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

</script>
{%endblock%}