{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                    Edit Trails
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="{{path('adventure_home')}}">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Edit Trails
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
               <div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                
                <div class="widget blue">
                    <div class="widget-title">
                        <h4><i class="icon-search"></i> Filter Your Search</h4>
                         
                    </div>
                    <div class="widget-body">
                         <form class="form-inline" method="post">
                         <div class="row-fluid">
                         
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Filter Search</label>
                          <div class="controls">
                                    <select class="span8 " data-placeholder="Choose a Category" tabindex="1">
                                        <option value="">Select...</option>
                                        <option value="Activities">Activities</option>
                                        <option value="Zones">Zones</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                          
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Search</label>
                           <div class="controls">
                          <input type="text" class="span8"/>   
                          </div>
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          
                          <label class="control-label"></label>
                          <div class="controls">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Submit</button>
                         <button type="button" class="btn">Cancel</button>
                
               </div>
                          </div>
                         </div>
                         
                         
                         </div>
                         
                         </form>
                        
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
                <div class="row-fluid">
                    <!--marquee start here-->
                    <div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget blue">
                            <div class="widget-title">
                                <h4>Bidding Info</h4>
                            </div>
                            <div class="widget-body">
                                <table class="table table-striped table-bordered  table-hover" id="sample_1">
                                    <thead>
                                    <tr>
                                    	 <th class="hidden-phone">Sr. No.</th>
                                         <th>User Request</th>
                                         <th>User Name</th>
                                       	 <th>Feedback</th>
                                     </tr>
                                    </thead>
                                    <tbody>
                                   <tr>
                                    	 <td class="hidden-phone">01</td>
                                         <td>Lorem Ipsum dorolo imit</td>
										 <td><span class="">Aeon Logiciel</span></td>
                                        <td>
                                            <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal" >Click To See</a>
                                        </td>
                                    </tr>
                                     <tr>
                                    	 <td class="hidden-phone">02</td>
                                         <td>Lorem Ipsum dorolo imit</td>
                                        <td><span class="">Aeon Logiciel</span>
                                        </td>
                                        <td>
                                           <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal" >Click To See</a>
                                        </td>
                                    </tr>
                                    
                   
                                    </tbody>
                                </table>
                               
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
                         <!--marquee End here-->
                </div>
                
                
            </div>

            <!-- END PAGE CONTENT-->         

      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->
 <!--model for feedback-->  
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">User Feedback</h3>
            </div>
            <div class="modal-body">
            <p>Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo.
             Sed ut quam at magna porttitor hendrerit. Maecenas quis erat fringilla augue feugiat vulputate a eu 
            sem.Vivamus ut diam at turpis varius tempor. Aliquam dictum sagittis erat, vehicula adipiscing
             diam condimentum id. </p>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
           
            </div>
      </div>
               
 <!--end model for feedback-->    
    
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}