{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}

<style>
    .thumbnail:hover img{
            opacity:0.5;
    }
    
    .thumbnail:hover button {
    display: block;
                            }
    .thumbnail button {
    position:absolute;
    display:none;
                      }
    .a{ top:4%;
             left:19%;
    }
     .b{ top:4%;
             left:45%;
    }
     .c{ top:4%;
             left:70.5%;
    }
     .d{ top:4%;
             left:96%;
    }
    .e{ top:4%;
             left:19%;
    }
     .f{ top:4%;
             left:45%;
    }
     .g{ top:4%;
             left:70.5%;
    }
     .h{ top:4%;
             left:96%;
    }
    </style>
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           My Profile <span class="divider">/</span>
                       </li>
                       <li class="active">
                           View Profile
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
                <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN ACCORDION PORTLET-->
                    <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>View Organizer Inforation</h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           <div class="span3">
                                                 <img src="{{asset(member.webPath)}}" alt="">
                                             </div>
                                             <div class="span9">
                                                <h4><b>Full Name : {{member.name}}</b></h4>
                                                 <ul class=" unstyled amounts">
                                                     <li>Email		: {{member.email}}</li>
                                                     <li>Phone No.	: {{member.phone}}</li>
                                                     <li>Address	: {{member.address}}</li>
                                                     <li>Area Code	: {{member.zip}}</li>
                                                     <li>Country	: {{member.country}}</li>
                                                    
                                                 </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    <!-- END ACCORDION PORTLET-->
                </div>
                      <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>Your Events List</h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           
                                                <div class="row text-center">

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://toptenstuff.in/wp-content/uploads/2014/10/kullu.jpg" alt="">
                    <button class="btn-danger a" onclick="return confirm('Are you sure you want to delete this member ?')">X</button>
                    <div class="caption">
                        <h3>Pachmari(M.P)</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger">Edit</a>
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://ttw.wlimg.com/package-images/photo-big/dir_1/27631/29950.jpg" alt="">
                     <button class="btn-danger b" onclick="return confirm('Are you sure you want to delete this member ?')">X</button>
                    <div class="caption">
                        <h3>Himalayas</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger">Edit</a>
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
               <div class="thumbnail">
                    <img src="http://alumni.brandeis.edu/images/RamBaghPalace.jpg" alt="">
                     <button class="btn-danger c" onclick="return confirm('Are you sure you want to delete this member ?')">X</button>
                    <div class="caption">
                        <h3>Italy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger">Edit</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://alumni.brandeis.edu/images/LeelaPalace.jpg" alt="">
                     <button class="btn-danger d" onclick="return confirm('Are you sure you want to delete this member ?')">X</button>
                    <div class="caption">
                        <h3>Mizoram</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger">Edit</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
                                                 
                                             
                                           
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    <!-- END ACCORDION PORTLET-->
                </div>
                      <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>Your Trail List</h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           
                                                <div class="row text-center">

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://ttw.wlimg.com/package-images/photo-big/dir_11/307001/49850.jpg" alt="" />
                     <button class="btn-danger e" onclick="return confirm('Are you sure you want to delete this member ?')">X</button>
                    <div class="caption">
                        <h3>Jammu kashmir</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> {#<a href="#" class="btn btn-danger">Edit</a>#}
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
               <div class="thumbnail">
                    <img src="https://6986bc316d242d271da8-bd3b92f3b5c76b0724783ea4cbff23d2.ssl.cf1.rackcdn.com/697078_1380946380.4822_wl.jpg" alt="">
                     <button class="btn-danger f" onclick="return confirm('Are you sure you want to delete this member ?')">X</button>
                    <div class="caption">
                        <h3>Dubai</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> {#<a href="#" class="btn btn-danger">Edit</a>#}
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://ttw.wlimg.com/package-images/photo-big/dir_2/44468/48681.jpg" alt="">
                     <button class="btn-danger g" onclick="return confirm('Are you sure you want to delete this member ?')">X</button>
                    <div class="caption">
                        <h3>Kerala</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> {#<a href="#" class="btn btn-danger">Edit</a>#}
                        </p>
                    </div>
                </div>
            </div>

            <div class="span3 hero-feature">
               <div class="thumbnail">
                    <img src="http://randomvacay.com/wp-content/uploads/2015/01/2015-ultimate-adventure-guide.jpg" alt="">
                     <button class="btn-danger h" onclick="return confirm('Are you sure you want to delete this member ?')">X</button>
                    <div class="caption">
                        <h3>China</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> {#<a href="#" class="btn btn-danger">Edit</a>#}
                        </p>
                    </div>
                </div>
            </div>

        </div>
                                     </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    <!-- END ACCORDION PORTLET-->
                </div>
                    
            </div>

            <!-- END PAGE CONTENT-->         
         </div>

            <!-- END PAGE CONTENT-->         
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->

   
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}