{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
<style>
    .thumbnail:hover img{
            opacity:0.5;
    }


    </style>

{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                    Trails
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="{{path('adventure_home')}}">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           All Trails
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
               <div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                
                <div class="widget blue">
                    <div class="widget-title">
                        <h4><i class="icon-search"></i> Filter Your Search</h4>
                         
                    </div>
                    <div class="widget-body">
                         <form class="form-inline" method="post">
                         <div class="row-fluid">
                         
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Filter Search</label>
                          <div class="controls">
                                    <select class="span8 " data-placeholder="Choose a Category" tabindex="1">
                                        <option value="">Select...</option>
                                        <option value="Activities">Activities</option>
                                        <option value="Zones">Zones</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                          
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Search</label>
                           <div class="controls">
                          <input type="text" class="span8"/>   
                          </div>
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          
                          <label class="control-label"></label>
                          <div class="controls">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Submit</button>
                         <button type="button" class="btn">Cancel</button>
                
               </div>
                          </div>
                         </div>
                         
                         
                         </div>
                         
                         </form>
                        
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
          
            <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>Adventure Trails List</h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           
                                                <div class="row text-center">

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://toptenstuff.in/wp-content/uploads/2014/10/kullu.jpg" alt="">
                    
                    <div class="caption">
                        <h3>Pachmari(M.P)</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                           <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a> &nbsp;
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://ttw.wlimg.com/package-images/photo-big/dir_1/27631/29950.jpg" alt="">
                     
                    <div class="caption">
                        <h3>Himalayas</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
               <div class="thumbnail">
                    <img src="http://alumni.brandeis.edu/images/RamBaghPalace.jpg" alt="">
                     
                    <div class="caption">
                        <h3>Italy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://alumni.brandeis.edu/images/LeelaPalace.jpg" alt="">
                    
                    <div class="caption">
                        <h3>Mizoram</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

                                                    
                                                    
        </div>
                                                 
                                             
                                           
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                
                      <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           
                                                <div class="row text-center">

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://toptenstuff.in/wp-content/uploads/2014/10/kullu.jpg" alt="">
                   
                    <div class="caption">
                        <h3>Pachmari(M.P)</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://ttw.wlimg.com/package-images/photo-big/dir_1/27631/29950.jpg" alt="">
                     
                    <div class="caption">
                        <h3>Himalayas</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
               <div class="thumbnail">
                    <img src="http://alumni.brandeis.edu/images/RamBaghPalace.jpg" alt="">
                     
                    <div class="caption">
                        <h3>Italy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://alumni.brandeis.edu/images/LeelaPalace.jpg" alt="">
                     
                    <div class="caption">
                        <h3>Mizoram</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

                                                    
                                                    
        </div>
                                                 
                                             
                                           
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                
                      <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           
                                                <div class="row text-center">

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://toptenstuff.in/wp-content/uploads/2014/10/kullu.jpg" alt="">
                    
                    <div class="caption">
                        <h3>Pachmari(M.P)</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://ttw.wlimg.com/package-images/photo-big/dir_1/27631/29950.jpg" alt="">
                     
                    <div class="caption">
                        <h3>Himalayas</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

             <div class="span3 hero-feature">
               <div class="thumbnail">
                    <img src="http://alumni.brandeis.edu/images/RamBaghPalace.jpg" alt="">
                    
                    <div class="caption">
                        <h3>Italy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://alumni.brandeis.edu/images/LeelaPalace.jpg" alt="">
                     
                    <div class="caption">
                        <h3>Mizoram</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Read More</a> <a href="#" class="btn btn-danger" onclick="return confirm('Are you sure ?')">Add Trail</a>
                        </p>
                    </div>
                </div>
            </div>

                                                    
                                                    
        </div>
                                                 
                                             
                                           
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    <!-- END ACCORDION PORTLET-->
                </div>
            
                
                
            </div>

            <!-- END PAGE CONTENT-->         

      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->
 <!--model for feedback-->  
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">All Trails</h3>
            </div>
            <div class="modal-body">
            <p>Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo.
             Sed ut quam at magna porttitor hendrerit. Maecenas quis erat fringilla augue feugiat vulputate a eu 
            sem.Vivamus ut diam at turpis varius tempor. Aliquam dictum sagittis erat, vehicula adipiscing
             diam condimentum id. </p>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
           
            </div>
      </div>
               
 <!--end model for feedback-->    
    
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}