{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

  <!-- BEGIN PAGE -->
  <div id="main-content"> 
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row-fluid">
        <div class="span12"> 
          <!-- BEGIN THEME CUSTOMIZER--> 
         
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title"> Organizer Response </h3>
          <ul class="breadcrumb">
            <li> <a href="{{path('adventure_home')}}">Home</a> <span class="divider">/</span> </li>
            <li class="active"> Organizer Response </li>
          </ul>
          <!-- END PAGE TITLE & BREADCRUMB--> 
        </div>
      </div>
      <!-- END PAGE HEADER--> 
      <!-- BEGIN PAGE CONTENT-->
      <div id="page-wraper">
        <div class="row-fluid">
          <div class="span12">
              <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
            <!-- BEGIN ACCORDION PORTLET-->
            <div class="widget blue">
              <div class="widget-title">
                <h4><i class="icon-user"></i>Organizer Response</h4>
              </div>
              <div class="widget-body">
                <div class="accordion" id="accordion1">
                  <div class="accordion-group"> 
                    
                    
                    <div id="collapse_2" class="accordion-body collapse in">
                      <div class="accordion-inner">
                          
                      {{form_start(Form,{'attr':{'class':'form-vertical'} } )}}
                         
                        <div class="well">
                          <h3>Response Details:-</h3>
                          <hr>
                          <div class ="row-fluid">
                            <div class="span4">
                              <div class="form-group">
                                <label >Any particular Date or Month </label>
                                {{ form_widget(Form.dateMin,{'attr':{'class':'datepicker span5'} }) }} {{  form_errors(Form.dateMin) }}
                                {#<input type="text" value="12-02-2012" class="datepicker span5" data-date-format="mm/dd/yyyy">#}
                                To
                                {{ form_widget(Form.dateMax,{'attr':{'class':'datepicker span5'} }) }} {{  form_errors(Form.dateMax) }}
                                {#<input type="text" value="12-02-2012" class="datepicker span5" data-date-format="mm/dd/yyyy">#}
                              </div>
                            </div>
                            <div class="span4">
                              <div class="control-group">
                                <label class="control-label" >Pick-Up Point </label>
                                {{ form_widget(Form.pick,{'attr':{'class':'input-block-level','placeholder':'Pick up point'} }) }} {{  form_errors(Form.pick) }}
                              </div>
                            </div>
                            <div class="span4">
                              <div class="control-group">
                                <label class="control-label" >Drop off point </label>
                                {{ form_widget(Form.down,{'attr':{'class':'input-block-level','placeholder':'Drop off point'} }) }} {{  form_errors(Form.down) }}
                              </div>
                            </div>
                          </div>
                          <div class="row-fluid">
                            <div class="span4">
                              <div class="control-group">
                                <label class="control-label" >Your Quote (Total Estimate)</label>
                                {{ form_widget(Form.totalCost,{'attr':{'class':'input-block-level','placeholder':'Your Quote'} }) }} {{  form_errors(Form.totalCost) }}
                              </div>
                            </div>
                            <div class="span4">
                              <div class="form-group">
                                <label class="control-label">Cost include</label>
                                {{ form_widget(Form.includeCost,{'attr':{'class':'span12 chzn-select','id':'select2_sample4'} }) }} {{  form_errors(Form.includeCost) }}
                              </div>
                            </div>
                            <div class="span4">
                              <div class="form-group">
                                <label class="control-label">Cost Exclude</label>
                                {{ form_widget(Form.excludeCost,{'attr':{'class':'span12 chzn-select','id':'select2_sample4'} }) }} {{  form_errors(Form.excludeCost) }}
                              </div>
                            </div>
                                  </div>
                          <div class="row-fluid">
                             
                                  
                            <div class="span5">
                              <div class="control-group">
                                <label class="input-block-level"> Short itinerary and Details: </label>
                                <div class="controls">
                                    {{ form_widget(Form.description,{'attr':{'class':'span12'} }) }} {{  form_errors(Form.description) }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                        {{ form_rest(Form) }}
                        <div class="form-actions">
                          <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
                      {{form_end(Form)}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- END ACCORDION PORTLET--> 
          </div>
        </div>
        
        <!-- END PAGE CONTENT--> 
      </div>
      
      <!-- END PAGE CONTENT--> 
    </div>
    <!-- END PAGE CONTAINER--> 

  <!-- END PAGE --> 
</div>
<!-- END CONTAINER --> 
</body>
<!-- END BODY -->
{%endblock%}


{%block javascripts %}
{{parent()}}
<script type="text/javascript">
		$(document).ready(function() {
		$('.multipl').multiselect();
		});
	</script> 
<script>
		$('.datepicker').datepicker({
			format: 'mm/dd/yyyy',
			startDate: '-3d'
		})
		</script> 

{%endblock%}