{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           My Profile <span class="divider">/</span>
                       </li>
                       <li class="active">
                           View Profile
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
                <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN ACCORDION PORTLET-->
                    <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>View Organizer Inforation</h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           <div class="span3">
                                                 <img src="{{asset(member.webPath)}}" alt="">
                                             </div>
                                             <div class="span9">
                                                <h4><b>Full Name : {{member.name}}</b></h4>
                                                 <ul class=" unstyled amounts">
                                                     <li>Email		: {{member.email}}</li>
                                                     <li>Phone No.	: {{member.phone}}</li>
                                                     <li>Address	: {{member.address}}</li>
                                                     <li>Area Code	: {{member.zip}}</li>
                                                     <li>Country	: {{member.country}}</li>
                                                    
                                                 </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    <!-- END ACCORDION PORTLET-->
                </div>
            </div>

            <!-- END PAGE CONTENT-->         
         </div>

            <!-- END PAGE CONTENT-->         
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->

   
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}