<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>Welcome to Adventure Bidding System</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <link href="{{asset('home/assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/bootstrap/css/bootstrap-fileupload.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
   <link href="{{asset('home/css/style.css')}}" rel="stylesheet" />
   <link href="{{asset('home/css/style-responsive.css')}}" rel="stylesheet" />
   <link href="{{asset('home/css/style-default.css')}}" rel="stylesheet" id="style_color" />
   <link href="{{asset('home/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css')}}" rel="stylesheet" type="text/css" media="screen"/>
   {% block stylesheets %}
 
{% endblock %}

</head>
<div id="header" class="navbar navbar-inverse navbar-fixed-top">
       <!-- BEGIN TOP NAVIGATION BAR -->
       <div class="navbar-inner">
           <div class="container-fluid">
              
               <!-- BEGIN LOGO -->
               <a class="brand" href="index.html">
                   <h2 class="hreaderbrand">Adventure Bidding System</h2>
               </a>
               <!-- END LOGO -->
               
               <!-- END  NOTIFICATION -->
               <div class="top-nav ">
                   <ul class="nav pull-right top-menu" >
                   		<li class="dropdown">
                           <a href="{{path('adventure_login_index')}}" class="dropdown-toggle">
                               <i class="icon-angle-up"></i>
                               <span class="username">Join Now</span>
                               <!--     <b class="caret"></b>-->
                           </a>
                       </li>
                       <!-- BEGIN USER LOGIN DROPDOWN -->
                       {% if not app.user %}
                       <li class="dropdown">
                           <a href="{{path('adventure_login_index')}}" class="dropdown-toggle">
                               <i class="icon-user"></i>
                               <span class="username">Login</span>
                           </a>
                          
                       </li>
                       {% else %}
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <img src="{{asset('home')}}/img/avatar-mini.png" alt="">
                               <span class="username">{{ app.user.email }}</span>
                               <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu extended logout">
                               <li><a href="viewprofile.html"><i class="icon-user"></i> My Profile</a></li>
                               <li><a href="editprofile.html"><i class="icon-cog"></i> Edit Profile</a></li>
                               <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                           </ul>
                       </li>
                       {% endif %}
                       <!-- END USER LOGIN DROPDOWN -->
                   </ul>
                   <!-- END TOP NAVIGATION MENU -->
               </div>
           </div>
       </div>
       <!-- END TOP NAVIGATION BAR -->
   </div>
{% block body %}


{% endblock %}
<!-- START FOOTER -->
   <div id="footer">
       2014 &copy; Adventure Bidding System
   </div>
   <!-- END FOOTER -->

   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   
   <script src="{{asset('home/js/jquery-1.8.3.min.js')}}"></script>
   <script src="{{asset('home/js/marquee.js')}}"></script>
   <script src="{{asset('home/js/jquery.marquee.min.js')}}"></script>
   <script src="{{asset('home/js/jquery.nicescroll.js')}}" type="text/javascript"></script>
   <script src="{{asset('home/assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js')}}" type="text/javascript" ></script>
   <script src="{{asset('home/assets/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript" ></script>
   <script src="{{asset('home/assets/fullcalendar/fullcalendar/fullcalendar.min.js')}}"></script>
   <script src="{{asset('home/assets/bootstrap/js/bootstrap.min.js')}}"></script>
   <script src="{{asset('home/js/common-scripts.js')}}"></script>
    
{% block javascripts %}


{% endblock %}
    </body>
</html>