<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>Welcome to Adventure Bidding System</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="Mosaddek" name="author" />
   <link href="{{asset('home/assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/bootstrap/css/bootstrap-fileupload.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
   <link href="{{asset('home/css/style.css')}}" rel="stylesheet" />
   <link href="{{asset('home/css/style-responsive.css')}}" rel="stylesheet" />
   <link href="{{asset('home/css/style-default.css')}}" rel="stylesheet" id="style_color" />
   <link href="{{asset('home/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css')}}" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="{{asset('home/assets/chosen-bootstrap/chosen/chosen.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{asset('home/assets/jquery-tags-input/jquery.tagsinput.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{asset('home/assets/uniform/css/uniform.default.css')}}" />
   <link href="{{asset('home/assets/data-tables/DT_bootstrap.css')}}" rel="stylesheet"/>
   <link rel="stylesheet" type="text/css" href="{{asset('home/assets/bootstrap-datepicker/css/datepicker.css')}}" />
{% block stylesheets %}
 
{% endblock %}
</head>
{% set userId = app.user.id %}
<!-- END HEAD -->

   <!-- BEGIN HEADER -->
   <div id="header" class="navbar navbar-inverse navbar-fixed-top">
       <!-- BEGIN TOP NAVIGATION BAR -->
       <div class="navbar-inner">
           <div class="container-fluid">
               <!--BEGIN SIDEBAR TOGGLE-->
               <div class="sidebar-toggle-box hidden-phone">
                   <div class="icon-reorder"></div>
               </div>
               <!--END SIDEBAR TOGGLE-->
               <!-- BEGIN LOGO -->
               <a class="brand" href="{{path('adventure_home')}}">
                   <h2 class="hreaderbrand">Adventure Bidding System</h2>
               </a>
               <!-- END LOGO -->
               <!-- BEGIN RESPONSIVE MENU TOGGLER -->
               <a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse" data-target=".nav-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="arrow"></span>
               </a>
               <!-- END RESPONSIVE MENU TOGGLER -->
               
               <!-- END  NOTIFICATION -->
               <div class="top-nav ">
                   <ul class="nav pull-right top-menu" >
                       <!-- BEGIN USER LOGIN DROPDOWN -->
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <img src="{{asset('home')}}/img/avatar-mini.png" alt="">
                               <span class="username">{{ app.user.username }}</span>
                               <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu extended logout">
                               <li><a href="{{path('adventure_bidding_organiser_view_profile')}}"><i class="icon-user"></i> My Profile</a></li>
                               <li><a href="{{path('adventure_bidding_organiser_edit_profile')}}"><i class="icon-cog"></i> Edit Profile</a></li>
                               <li><a href="{{path('log_out')}}"><i class="icon-key"></i> Log Out</a></li>
                           </ul>
                       </li>
                       <!-- END USER LOGIN DROPDOWN -->
                   </ul>
                   <!-- END TOP NAVIGATION MENU -->
               </div>
           </div>
       </div>
       <!-- END TOP NAVIGATION BAR -->
   </div>
   <!-- END HEADER -->
   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar-scroll">
        <div id="sidebar" class="nav-collapse collapse">

         <!-- BEGIN SIDEBAR MENU -->
          <ul class="sidebar-menu">
          
          		<li class="sub-menu active">
              	 <a class="" href="{{path('adventure_bidding_organiser_dashboard')}}">
              	 <i class="icon-list-alt"></i>
                      <span>All Request</span>
                 </a>
              </li>
              <li class="sub-menu">
                      <a href="javascript:;" class="">
                         <i class="icon-user"></i>
                          <span>My Profile</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{{path('adventure_bidding_organiser_view_profile')}}">Veiw Profile</a></li>
                          <li><a class="" href="{{path('adventure_bidding_organiser_view_event')}}">Add Event</a></li>
                          <li><a class="" href="{{path('adventure_bidding_organiser_view_trails')}}">Add Trails</a></li>
                         
					  </ul>
              </li>
              
              <li class="sub-menu">
              	<a class="" href="{{ path('adventure_bidding_organiser_feedback')}}">
              	 <i class="icon-plus-sign-alt"></i>
                      <span>Feedback</span>
                 </a>
                
              </li>
              
              <li class="sub-menu">
              	<a class="" href="">
              	 <i class="icon-cloud"></i>
                      <span>Closed Request</span>
                 </a>
                
              </li>
              <li class="sub-menu">
              	<a class="" href="{{path('adventure_bidding_organiser_changepassword')}}">
              	 <i class="icon-edit"></i>
                      <span>Change Password</span>
                 </a>
                
              </li>
              
              
             
              <li>
                  <a class="" href="{{path('log_out')}}">
                    <i class="icon-key"></i>
                    <span>Log Out</span>
                  </a>
              </li>
          </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      </div>
      <!-- END SIDEBAR -->
{% block body %}

{%endblock%}
   </div>
   <!-- END CONTAINER -->

   <!-- BEGIN FOOTER -->
   <div id="footer">
       2014 &copy; Adventure Bidding System
   </div>
   <!-- END FOOTER -->

   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   <script src="{{asset('home/js/jquery-1.8.3.min.js')}}"></script>
   <script src="{{asset('home/js/marquee.js')}}"></script>
   <script src="{{asset('home/js/jquery.marquee.min.js')}}"></script>
   <script src="{{asset('home/js/jquery.nicescroll.js')}}" type="text/javascript"></script>
   <script src="{{asset('home/assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js')}}" type="text/javascript" ></script>
   <script src="{{asset('home/assets/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript" ></script>
   <script src="{{asset('home/assets/fullcalendar/fullcalendar/fullcalendar.min.js')}}"></script>
   <script src="{{asset('home/assets/bootstrap/js/bootstrap.min.js')}}"></script>
   <script src="{{asset('home/js/common-scripts.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/chosen-bootstrap/chosen/chosen.jquery.min.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/jquery-tags-input/jquery.tagsinput.min.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/uniform/jquery.uniform.min.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/bootstrap/js/bootstrap-fileupload.js')}}"></script>
   <script src="{{asset('home/js/form-component.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/data-tables/jquery.dataTables.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/data-tables/DT_bootstrap.js')}}"></script>
   <script src="{{asset('home/js/dynamic-table.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script> 
{% block javascripts %}


{% endblock %}
   <!-- END JAVASCRIPTS -->   
</body>
<!-- END BODY -->
</html>