<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title> Home | Registration Page</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="{{asset('assets1/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('assets1/plugins/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('assets1/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('assets1/css/style-metro.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('assets1/css/style.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('assets1/css/style-responsive.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('assets1/css/themes/default.css')}}" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="{{asset('assets1/plugins/uniform/css/uniform.default.css')}}" rel="stylesheet" type="text/css"/>
	
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="{{asset('assets1/css/pages/login.css')}}" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="favicon.ico" />
	

   
{% block stylesheets %}
 
{% endblock %}
    </head>             
  <body class="login">  
       <!-- BEGIN HEADER -->
   
{% block body %}


{% endblock %}
 
 <!-- BEGIN FOOTER -->
   <div class="copyright">
		2014&copy; Adventure Bidding.
   </div>
   <!-- END FOOTER --> 
   
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->   
        <script src="{{asset('assets1/plugins/jquery-1.10.1.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('assets1/plugins/jquery-migrate-1.2.1.min.js')}}" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="{{asset('assets1/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js')}}" type="text/javascript"></script>      
	<script src="{{asset('assets1/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
	<!-- <script src="assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script> -->
	<!--[if lt IE 9]>
	<script src="assets/plugins/excanvas.min.js"></script>
	<script src="assets/plugins/respond.min.js"></script>  
	<![endif]-->   
	<!-- <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	
	<script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script> -->
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>	
	<script type="text/javascript" src="assets/plugins/select2/select2.min.js"></script>     
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="{{asset('assets1/scripts/app.js')}}" type="text/javascript"></script>
	<script src="{{asset('assets1/scripts/login.js')}}" type="text/javascript"></script> 
	<!-- END PAGE LEVEL SCRIPTS --> 
	<script>
		jQuery(document).ready(function() {     
		  App.init();
		  Login.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
        
        
{% block javascripts %}


{% endblock %}
</body>
</html>
