<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>Welcome to Adventure Bidding System</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="" name="author" />
   <link href="{{asset('home/assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/bootstrap/css/bootstrap-fileupload.css')}}" rel="stylesheet" />
   <link href="{{asset('home/assets/font-awesome/css/font-awesome.css')}}" rel="stylesheet" />
   <link href="{{asset('home/css/style.css')}}" rel="stylesheet" />
   <link href="{{asset('home/css/style-responsive.css')}}" rel="stylesheet" />
   <link href="{{asset('home/css/style-default.css')}}" rel="stylesheet" id="style_color" />
   <link href="{{asset('home/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css')}}" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="{{asset('home/assets/chosen-bootstrap/chosen/chosen.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{asset('home/assets/jquery-tags-input/jquery.tagsinput.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('home/assets/fancybox/source/jquery.fancybox.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{asset('home/assets/uniform/css/uniform.default.css')}}" />
   <link href="{{asset('home/assets/data-tables/DT_bootstrap.css')}}" rel="stylesheet"/>
   <link rel="stylesheet" type="text/css" href="{{asset('home/assets/bootstrap-datepicker/css/datepicker.css')}}" />
{% block stylesheets %}
 
{% endblock %}

</head>
{% set userId = app.user.id %}
<div id="header" class="navbar navbar-inverse navbar-fixed-top">
       <!-- BEGIN TOP NAVIGATION BAR -->
       <div class="navbar-inner">
           <div class="container-fluid">
              <!--BEGIN SIDEBAR TOGGLE-->
               <div class="sidebar-toggle-box hidden-phone">
                   <div class="icon-reorder"></div>
               </div>
               <!--END SIDEBAR TOGGLE-->
               <!-- BEGIN LOGO -->
               <a class="brand" href="{{path('adventure_home')}}">
                   <h2 class="hreaderbrand">Adventure Bidding System</h2>
               </a>
               <!-- END LOGO -->
               
               <!-- END  NOTIFICATION -->
               <div class="top-nav ">
                   <ul class="nav pull-right top-menu" >
                   		{#<li class="dropdown">
                           <a href="{{path('adventure_login_index')}}" class="dropdown-toggle">
                               <i class="icon-angle-up"></i>
                               <span class="username">Join Now</span>
                               <!--     <b class="caret"></b>-->
                           </a>
                       </li>#}
                       <!-- BEGIN USER LOGIN DROPDOWN -->
                       {% if not app.user %}
                       <li class="dropdown">
                           <a href="{{path('adventure_login_index')}}" class="dropdown-toggle">
                               <i class="icon-user"></i>
                               <span class="username">Login</span>
                           </a>
                          
                       </li>
                       {% else %}
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <img src="{{asset('home')}}/img/avatar-mini.png" alt="">
                               <span class="username">{{ app.user.email }}</span>
                               <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu extended logout">
                               <li><a href="{{path('adventure_bidding_user_view_profile')}}"><i class="icon-user"></i> My Profile</a></li>
                               <li><a href="{{path('adventure_bidding_user_edit_profile')}}"><i class="icon-cog"></i> Edit Profile</a></li>
                               <li><a href="{{path('log_out')}}"><i class="icon-key"></i> Log Out</a></li>
                           </ul>
                       </li>
                       {% endif %}
                       <!-- END USER LOGIN DROPDOWN -->
                   </ul>
                   <!-- END TOP NAVIGATION MENU -->
               </div>
           </div>
       </div>
       <!-- END TOP NAVIGATION BAR -->
   </div>
<!-- BEGIN SIDEBAR -->
      <div class="sidebar-scroll">
        <div id="sidebar" class="nav-collapse collapse">

         <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
         <!-- <div class="navbar-inverse">
            <form class="navbar-search visible-phone">
               <input type="text" class="search-query" placeholder="Search" />
            </form>
         </div> -->
         <!-- END RESPONSIVE QUICK SEARCH FORM -->
         <!-- BEGIN SIDEBAR MENU -->
          <ul class="sidebar-menu">
          
          		<li class="sub-menu active">
              	 <a class="" href="{{path('adventure_bidding_user_list_request')}}">
              	 <i class="icon-list-alt"></i>
                      <span>Request List</span>
                 </a>
              </li>
              <li class="sub-menu">
                      <a href="javascript:;" class="">
                         <i class="icon-user"></i>
                          <span>My Profile</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="{{path('adventure_bidding_user_view_profile')}}">Veiw Profile</a></li>
                          <li><a class="" href="{{path('adventure_bidding_user_edit_profile')}}">Edit Profile</a></li>
					  </ul>
              </li>
              
              <li class="sub-menu">
              	<a class="" href="{{path('adventure_bidding_user_create_request')}}">
              	 <i class="icon-plus-sign-alt"></i>
                      <span> Post Request</span>
                 </a>
                
              </li>
              <li class="sub-menu">
              	<a class="" href="{{path('adventure_bidding_user_changepassword')}}">
              	 <i class="icon-edit"></i>
                      <span>Change password</span>
                 </a>
                
              </li>
             
              <li>
                  <a class="" href="{{path('log_out')}}">
                    <i class="icon-key"></i>
                    <span>Log Out</span>
                  </a>
              </li>
          </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      </div>
      <!-- END SIDEBAR -->
{% block body %}


{% endblock %}
<!-- START FOOTER -->
   <div id="footer">
       2014 &copy; Adventure Bidding System
   </div>
   <!-- END FOOTER -->

   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
   
   <script src="{{asset('home/js/jquery-1.8.3.min.js')}}"></script>
   <script src="{{asset('home/js/marquee.js')}}"></script>
   <script src="{{asset('home/js/jquery.marquee.min.js')}}"></script>
   <script src="{{asset('home/js/jquery.nicescroll.js')}}" type="text/javascript"></script>
   <script src="{{asset('home/assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js')}}" type="text/javascript" ></script>
   <script src="{{asset('home/assets/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript" ></script>
   <script src="{{asset('home/assets/fullcalendar/fullcalendar/fullcalendar.min.js')}}"></script>
   <script src="{{asset('home/assets/bootstrap/js/bootstrap.min.js')}}"></script>
   <script src="{{asset('home/js/common-scripts.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/chosen-bootstrap/chosen/chosen.jquery.min.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/jquery-tags-input/jquery.tagsinput.min.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/uniform/jquery.uniform.min.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/bootstrap/js/bootstrap-fileupload.js')}}"></script>
   <script src="{{asset('home/js/form-component.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/data-tables/jquery.dataTables.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/data-tables/DT_bootstrap.js')}}"></script>
   <script src="{{asset('home/js/dynamic-table.js')}}"></script>
   <script type="text/javascript" src="{{asset('home/assets/bootstrap-datepicker/js/bootstrap-datepicker.js')}}"></script> 
   <script src="{{asset('home/js/form-wizard.js')}}"></script> 
   <script src="{{asset('home/js/jquery.blockui.js')}}"></script> 
   <script  type="text/javascript" src="{{asset('home/assets/bootstrap-wizard/jquery.bootstrap.wizard.min.js')}}"></script>


{% block javascripts %}


{% endblock %}
    </body> 
</html>