<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome to Adventure Bidding System{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-responsive.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-fileupload.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style-responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/style-default.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css') }}" />
        
  
   
{% block stylesheets %}
 
{% endblock %}
    </head>             
  <body class="fixed-top">  
       <!-- BEGIN HEADER -->
   <div id="header" class="navbar navbar-inverse navbar-fixed-top">
       <!-- BEGIN TOP NAVIGATION BAR -->
       <div class="navbar-inner">
           <div class="container-fluid">
              
               <!-- BEGIN LOGO -->
               <a class="brand" href="{{path('adventure_home')}}">
                   <h2 class="hreaderbrand">Adventure Bidding System</h2>
               </a>
               <!-- END LOGO -->
               <!-- BEGIN RESPONSIVE MENU TOGGLER -->
               <a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse" data-target=".nav-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="arrow"></span>
               </a>
               <!-- END RESPONSIVE MENU TOGGLER -->
               
               <!-- END  NOTIFICATION -->
               <div class="top-nav ">
                   <ul class="nav pull-right top-menu" >
                       <li class="dropdown">
                           <a href="{{path('adventure_login_index')}}" class="dropdown-toggle">
                               <i class="icon-angle-up"></i>
                               <span class="username">Join Now</span>
                               <!--     <b class="caret"></b>-->
                           </a>
                       </li>
                       <!-- BEGIN USER LOGIN DROPDOWN -->
                       <li class="dropdown">
                           <a href="{{path('adventure_login_index')}}" class="dropdown-toggle">
                               <i class="icon-user"></i>
                               <span class="username">Login</span>
                               <b class="caret"></b>
                           </a>
                           <!--<ul class="dropdown-menu extended logout">
                               <li><a href="profile.html"><i class="icon-user"></i> My Profile</a></li>
                               <li><a href="#"><i class="icon-cog"></i> My Settings</a></li>
                               <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
                           </ul>-->
                       </li>
                       <!-- END USER LOGIN DROPDOWN -->
                   </ul>
                   <!-- END TOP NAVIGATION MENU -->
               </div>
           </div>
       </div>
       <!-- END TOP NAVIGATION BAR -->
   </div>
   <!-- END HEADER -->
      
{% block body %}


{% endblock %}
 
 <!-- BEGIN FOOTER -->
   <div id="footer">
       2014 &copy; Adventure Bidding System
   </div>
   <!-- END FOOTER --> 
   
   
   
       
        <script src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>  
        <script src="{{asset('js/common-scripts.js')}}"></script>
	<script src="{{ asset('js/marquee.js')}}"></script>
        <script src="{{ asset('js/jquery.marquee.min.js')}}"></script>
        <script src="{{ asset('js/jquery.nicescroll.js')}}"></script>
       <script src=" {{asset('assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js')}}"></script>
       
        <script src="{{ asset('assets/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
        <script src="{{ asset('assets/fullcalendar/fullcalendar/fullcalendar.min.js')}}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        
       
       
{% block javascripts %}


{% endblock %}
</body>
</html>
