{% extends "::userbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System | User Profile{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">
 
<!-- BEGIN PAGE -->
<div id="main-content"> 
  <!-- BEGIN PAGE CONTAINER-->
  <div class="container-fluid"> 
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
      <div class="span12"> 
        
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title"> </h3>
        <ul class="breadcrumb">
          <li> <a href="{{path('adventure_home')}}">Home</a> <span class="divider">/</span> </li>
          <li class="active"> Post Request </li>
         
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB--> 
      </div>
    </div>
    <!-- END PAGE HEADER--> 
    <!-- BEGIN PAGE CONTENT-->
    <div id="page-wraper">
      <div class="row-fluid">
        <div class="span12"> 
          <!-- BEGIN ACCORDION PORTLET-->
          <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
          <div class="widget blue">
            <div class="widget-title">
              <h4><i class="icon-user"></i>Create User Request</h4>
            </div>
            <div class="widget-body">
              <div class ="row-fluid">
                <div class="span12">
                    {{form_start(Form,{'attr':{'class':'form-vertical'} })}}
                    <div class="well">
                      <h3>Trip Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Trip Name</label>
                            {{ form_widget(Form.name,{'attr':{'class':'input-block-level','placeholder':''} }) }} {{  form_errors(Form.name) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Duration Of Trip</label>
                            {{ form_widget(Form.day,{'attr':{'class':'span12 select2','id':'select2_sample4'} }) }} {{  form_errors(Form.day) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label >Journey Date </label>
                            {{ form_widget(Form.dateMin,{'attr':{'class':'datepicker span5'} }) }} {{  form_errors(Form.dateMin) }}
                            To
                            {{ form_widget(Form.dateMax,{'attr':{'class':'datepicker span5'} }) }} {{  form_errors(Form.dateMax) }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="well">
                      <h3>Location Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Country</label>
                            {{ form_widget(Form.country,{'attr':{'class':'span12 chzn-select','id':'select2_sample4'} }) }} {{  form_errors(Form.country) }}
                          </div>
                        </div>
                           <div class="span4">
                          <div class="form-group">
                            <label class="control-label">State</label>
                            {{ form_widget(Form.state,{'attr':{'class':'span12 chzn-select','id':'select2_sample4'} }) }} {{  form_errors(Form.country) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Location</label>
                            {{ form_widget(Form.location,{'attr':{'class':'input-block-level','placeholder':'Enter Location Name'} }) }} {{  form_errors(Form.location) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Zones</label>
                            <div class="controls">
                                {{ form_widget(Form.zone,{'attr':{'class':'input-block-level chzn-select'} }) }} {{  form_errors(Form.zone) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="well">
                      <h3> Groups Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Number Of Males</label>
                            {{ form_widget(Form.male,{'attr':{'class':'span12 select2','id':'select2_sample4'} }) }} {{  form_errors(Form.male) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Number Of Females</label>
                            {{ form_widget(Form.female,{'attr':{'class':'span12 select2','id':'select2_sample4'} }) }} {{  form_errors(Form.female) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Number Of Traveller</label>
                            {{ form_widget(Form.traveler,{'attr':{'class':'span12 select2','id':'select2_sample4'} }) }} {{  form_errors(Form.traveler) }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="well">
                      <h3> Activities Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Activities</label>
                            {{ form_widget(Form.activity,{'attr':{'class':'input-block-level chzn-select'} }) }} {{  form_errors(Form.activity) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Pick-Up Location</label>
                            {{ form_widget(Form.pick,{'attr':{'class':'input-block-level','placeholder':'Pick-Up Location'} }) }} {{  form_errors(Form.pick) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Drop-Off Location</label>
                            {{ form_widget(Form.down,{'attr':{'class':'input-block-level','placeholder':'Drop Location'} }) }} {{  form_errors(Form.down) }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="well">
                      <h3> Other Details </h3>
                      <hr>
                    <div class ="row-fluid">
                      
                      <div class="span12">
                        <div class="control-group">
                          <label class="control-label">If your group size is too small for an organizer to respond, are you open for us to combine your group with others who are looking for the exact or similar trips?  </label>
                          <div class="controls">
                              {{ form_widget(Form.team) }} {{  form_errors(Form.team) }}
                          </div>
                        </div>
                        
                      </div>
                       </div>
                       <hr>
                       <div class ="row-fluid">
                      <div class="span12">
                        <div class="control-group">
                          <label class="input-block-level"> Special Requirement: </label>
                          <div class="controls">
                              {{ form_widget(Form.description,{'attr':{'class':'span12'} }) }} {{  form_errors(Form.description) }}
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    {{ form_rest(Form) }}
                    <div class="form-actions">
                      <button class="btn btn-primary" id="save" type="submit"> Submit</button>
                      <button type="button" class="btn btn-default">Cancel</button>
                    </div>
                  {{form_end(Form)}}
                </div>
              </div>
            </div>
            <!-- END ACCORDION PORTLET--> 
          </div>
        </div>
        
        <!-- END PAGE CONTENT--> 
      </div>
      
      <!-- END PAGE CONTENT--> 
      
    </div>
    
    <!-- END PAGE CONTAINER--> 
  </div>
  <!-- END PAGE --> 
</div>
<!-- END CONTAINER --> 
</div>
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
    <script>
   function getValue(){
       
        var a = document.getElementById('userRequest_male').value;
        var b = document.getElementById('userRequest_female').value;
       
        var c = parseInt(a) + parseInt(b) ;
        document.getElementById('userRequest_traveler').value = c ; 
    } 
    
    </script> 
    
     <script>
		$(document).ready(function() {
		$('.multipl').multiselect();
		})(jQuery);
                $('#example-single-selected').multiselect()(jQuery);
    </script> 
    <script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    })(jQuery);
    </script> 
    


{%endblock%}