{% extends "::userbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System | User Profile{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     Change Password
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="index.html">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Change Password
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
             <div class="row-fluid">
        <div class="span12"> 
          <!-- BEGIN BLANK PAGE PORTLET-->
          <div class="widget red">
            <div class="widget-title">
              <h4><i class="icon-edit"></i> Order Summary </h4>
            </div>
            <div class="widget-body"> </div>
          </div>
          <!-- END BLANK PAGE PORTLET--> 
        </div>
      </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
                <div class="row-fluid">
                <div class="span12">
                    <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
                    <!-- BEGIN ACCORDION PORTLET-->
                    <div class="widget box purple">
            <div class="widget-title">
              <h4> <i class="icon-reorder"></i> Payment Options </span> </h4>
            </div>
            <div class="widget-body">
              <form class="form-horizontal" action="#">
              <div id="tabsleft" class="tabbable tabs-left">
              <ul>
                <li><a href="#tabsleft-tab1" data-toggle="tab"><span class="strong">Debit Card</span> </a></li>
                <li><a href="#tabsleft-tab2" data-toggle="tab"><span class="strong">Credit Card</span> </a></a></li>
                <li><a href="#tabsleft-tab3" data-toggle="tab"><span class="strong">Net Banking</span> </a></li>
                <li><a href="#tabsleft-tab4" data-toggle="tab"><span class="strong">Others</span> </a></li>
              </ul>
              <!--<div class="progress progress-info progress-striped">
                                    <div class="bar"></div>
                                </div>-->
              <div class="tab-content">
              <div class="tab-pane" id="tabsleft-tab1">
               	
                
                
                
                 <div class="row-fluid">
                 
                        <div class="span8">
                
                              <form class="form-vertical" method="get" action="#">
                                <div class="row-fluid">
                                    <div class="span5">
                                        <div class="control-group">
                                        <label class="control-label" >Card Type</label>
                                           
                                        <select class="span6 " data-placeholder="Choose a Card" tabindex="1">
                                        <option value="">Select Card</option>
                                        <option value="Master">Master</option>
                                        <option value="Visa">Visa</option>
                                        <option value="Mastero">Mastero</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                       
                                        </div>
                                    </div>
                                    <div class="span7">
                                        <div class="control-group">
                                            <label class="control-label" >Debit Card Number</label>
                                            
                                                <input type="text" class="input-block-level" placeholder="xxxxxxxxxxxxxxxx"  name="cardnumber">
                                            
                                        </div>
                                    </div>
                                    
                                 </div>
                                <h4>Expiry</h4>
                                 
                                <div class="row-fluid">
                                 
                                    <div class="span4">
                                    
                                        <div class="control-group">
                                          <label class="control-label" >Month</label>
                                        <select class="span6 " data-placeholder="Choose a Month" tabindex="1">
                                        <option value="">Month</option>
                                        <option value="Jan">Jan</option>
                                        <option value="Feb">Feb</option>
                                        <option value="Mar">Mar</option>
                                        <option value="Apr">Apr</option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="control-group">
                                         <label class="control-label" >Year</label>
                                        <select class="span6 " data-placeholder="Choose a Year" tabindex="1">
                                        <option value="">Year</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="control-group">
                                            <label class="control-label" >CVV2/CVC2</label>
                                             
                                              <input type="text" class="input-block-level" placeholder="xxxxxxxxx"  name="">
                                           
                                        </div>
                                    </div>
                                  
                                </div>
                                <div class="row-fluid">
                                    <div class="span8">
                                        <div class="control-group">
                                            <!--<label class="control-label" >Name On Card</label>-->
                                           
                                                <input type="text" class="input-block-level" placeholder="Name On Card"  name="">
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                 
								 <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                                </div> 
                                
                                 
                            </form>
                            </div>
                        
                            
                                   <div class="span4">
                                         <img src="img/pay.jpg" class="img-circle"/>
                                   </div>
                                   
                  
                 </div>
                
                
                
                
                
                
                
            </div>
            <div class="tab-pane" id="tabsleft-tab2">
              <div class="row-fluid">
			   <div class="span8">
			     <form class="form-vertical" method="get" action="#">
				   <div class="row-fluid">
                          <div class="span6">
                                        <div class="control-group">
                                            <label class="control-label" >Credit Card Number</label>
                                            
                                                <input type="text" class="input-block-level" placeholder="xxxxxxxxxxxxxxxx"  name="cardnumber">
                                            
                                        </div>
                                    </div>
                                    
                                 </div>
                                <h4>Expiry</h4>
								<div class="row-fluid">
                                 
                                    <div class="span4">
                                    
                                        <div class="control-group">
                                          <label class="control-label" >Month</label>
                                        <select class="span6 " data-placeholder="Choose a Month" tabindex="1">
                                        <option value="">Month</option>
                                        <option value="Jan">Jan</option>
                                        <option value="Feb">Feb</option>
                                        <option value="Mar">Mar</option>
                                        <option value="Apr">Apr</option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="control-group">
                                         <label class="control-label" >Year</label>
                                        <select class="span6 " data-placeholder="Choose a Year" tabindex="1">
                                        <option value="">Year</option>
                                        <option value="2014">2014</option>
                                        <option value="2015">2015</option>
                                        <option value="2016">2016</option>
                                        <option value="2017">2017</option>
                                    </select>
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="control-group">
                                            <label class="control-label" >CVV2/CVC2</label>
                                             
                                              <input type="text" class="input-block-level" placeholder="xxxxxxxxx"  name="">
                                           
                                        </div>
                                    </div>
                                  
                                </div>
								<div class="row-fluid">
                                    <div class="span8">
                                        <div class="control-group">
                                            <!--<label class="control-label" >Name On Card</label>-->
                                           
                                                <input type="text" class="input-block-level" placeholder="Name On Card"  name="">
                                            
                                        </div>
                                    </div>
                                    
                                </div>
							 <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default">Cancel</button>
                                </div> 
				  </form>
			   
			   </div>
			   <div class="span4">
			             <img src="img/pay.jpg" class="img-circle"/>
			   </div>
			  </div>
              
            </div>
            <div class="tab-pane" id="tabsleft-tab3">
           
            <div class="row-fluid">
			   <div class="span8">
			    <form class="form-vertical" method="get" action="#">
			     <div class="row-fluid">
                                 
                                    <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                     <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg"/> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                   <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
               <div class="row-fluid">
                                 
                                    <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                     <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg"/> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                   <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                </div> 
                  
                    <!--  <form class="form-vertical" method="get" action="#"> -->
				   
                               
								<div class="row-fluid">
                                 
                                    <div class="span10">
                                    
                                       <div class="control-group">
                                        <label class="control-label" >All Other Banks</label>
                                        <select class="span6 " data-placeholder="Choose a Banks" tabindex="1">
                                        <option value="">All Other Banks</option>
                                        <option value="State Bank Of India">State Bank Of India</option>
                                        <option value="Central Bank Of India">Central Bank Of India</option>
                                        <option value="Maharashtra Bank">Maharashtra Bank</option>
                                        <option value="Axis Bank">Axis Bank</option>
                                    </select>
                                        </div>
                                    </div>
                                    
                                </div>
								
				 <!--  </form>        -->                  
                        <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default">Cancel</button>
              </div> 
              </form>        
			   
			   </div>
               
			   <div class="span4">
			             <img src="img/pay.jpg" class="img-circle"/>
			   </div>
			  </div>
		         
              
            </div>
            
            <div class="tab-pane" id="tabsleft-tab4">
              <div class="row-fluid">
			   <div class="span8">
			    <form class="form-vertical" method="get" action="#">
			     <div class="row-fluid">
                                 
                                    <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                     <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg"/> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                   <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
									
									
									
                                </div>
                                
                                
               <div class="row-fluid">
                                 
                                    <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                    <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                     <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg"/> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                   <div class="span3">
                                    
                                        <div class="well">
                                         <div class="control-group">
               
                <div class="controls bankradio">
                  <label class="radio line">
                    <input type="radio" value="" />
                      <img src="img/hdfc.jpg" /> </label>
                </div>
              </div>
                                        </div>
                                    </div>
                                </div> 
                  <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="button" class="btn btn-default">Cancel</button>
              </div> 
              </form>       
			   </div>
               
			   <div class="span4">
			             <img src="img/pay.jpg" class="img-circle"/>
			   </div>
			  </div>
              
            </div>
            <!-- <ul class="pager wizard">
              <li class="next"><a href="javascript:;">Finish</a></li>
            </ul> -->
          </div>
        </div>
        </form>
      </div>
    </div>
            </div>

            <!-- END PAGE CONTENT-->         
         </div>

            <!-- END PAGE CONTENT-->         
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->
   </div>
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}