{% if message is defined %}
      {{message}}
{% endif %}<br><br>

View Open Request-Response<br><br><br>

User Request Details :<br><br><br> 

    
    Trip Name : {{request.name}}<br>
    No of Males: {{request.male}}<br>
    No Of Females : {{request.female}}<br>
    No Of Travellers : {{request.traveler}}<br>
    Pick-Up Location : {{request.pick}}<br>
    Drop Location : {{request.down}}<br>
    Trip Tentative (in days) : {{request.day}}<br>
    
    Combine Group : {% if(request.team=='1')%}Yes{% else %}No{% endif %}<br>

{#Activities : {{request.activity}}<br>#}

    

Location : {{request.location}}<br><br><br><br> 

    
 <br><br>

 {% for listOrganiser in listOrganiser %}
 {{listOrganiser}}<br>
 {% for comment in comment %}

{% if comment.user != null%}
<img style="height: 44px; width: 44px;" src="{{asset(comment.user.webpath)}}"/>:{{comment.user}}:{{comment.description}}<br>
{% elseif comment.organiser != null %}
<img style="height: 44px; width: 44px;" src="{{asset(comment.organiser.webpath)}}"/>:{{comment.organiser}}:{{comment.description}}<br>
{% endif %}
<br>
{% endfor %}
 {{form_start(Form)}}
    <br>
    Description : {{ form_widget(Form.description) }} {{  form_errors(Form.description) }}<br>
    {{ form_rest(Form) }}
    <button class="btn btn-success" id="save" type="submit"> <i class="icon-ok"></i>Reply</button>
{{form_end(Form)}}
    <a href="{#{{path('adventure_bidding_organiser_create_response')}}#}"> Confirm Deal  </a>  <br>
    <a href="{#{{path('adventure_bidding_organiser_create_response')}}#}"> Block  </a>  
{% endfor %}
