{% extends "::userbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
<!-- BEGIN BODY -->
<body class="fixed-top">
<!-- BEGIN CONTAINER -->
    <div id="container" class="row-fluid">
    <!-- BEGIN PAGE -->  
    <div id="main-content">
        <!-- BEGIN PAGE CONTAINER-->
        <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
                <div class="span12">

                    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                    <h3 class="page-title">
                        User Request and Comments
                    </h3> 
                    <ul class="breadcrumb">
                        <li>
                            <a href="{{path('adventure_home')}}">Home</a>
                            <span class="divider">/</span>
                        </li>
                        <li>
                            <a href="{{path('adventure_bidding_user_list_request')}}">Request List</a>
                            <span class="divider">/</span>
                        </li>
                        <li class="active">
                            User Request and Comments
                        </li>

                    </ul>
                    <!-- END PAGE TITLE & BREADCRUMB-->
                </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN BLANK PAGE PORTLET-->
                    <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-question-sign"></i> Request and Comments </h4>

                        </div>
                        <div class="widget-body">
                            <div class="row-fluid">
                                <div class="span6">
                                    <h4 class="title grey" style="font-weight:bold; color:#000;">User Request Details</h4>

                                    <!-- BEGIN HORIZONTAL DESCRIPTION LISTS PORTLET-->
                                    <div class="widget blue">
                                        <div class="widget-title">
                                            <h4><i class="icon-reorder"></i> Your Request Details </h4>

                                        </div>
                                        <div class="widget-body">
                                            <div class="row-fluid">
                                                <div class= "span12">
                                                    <h3>Trip Info:</h3>
                                                    <ul class=" unstyled amounts">
                                                        <li class="text-bold">Trip Name	: {{request.name}}</li>
                                                        <li  class="text-bold">No of Males: {{request.male}}</li>
                                                        <li  class="text-bold">No Of Females	: {{request.female}}</li>
                                                        <li  class="text-bold">No Of Travellers	: {{request.traveler}} </li>
                                                        <li  class="text-bold">Pick-Up Location	: {{request.pick}}</li>
                                                        <li  class="text-bold">Drop Location	: {{request.down}}</li>
                                                        <li  class="text-bold">Trip Tentative (in days)	: {{request.day}}</li>
							{% if request.team == 0 %}
                                                        <li  class="text-bold">Combine Group	: No</li>
                                                     {% else %}
                                                        <li  class="text-bold">Combine Group	: Yes</li>
                                                     {% endif %}
                                                </div>
                                            </div>
                                            <div class="row-fluid">
                                                <div class= "span6">
                                                    <h3>Activities:</h3>
                                                     
                                                    <ul class=" unstyled amounts">
                                                       {% set category= '' %}
                                                        {% for activity in request.activity %}
                                                        <li class="text-bold">    
                                                            {% set category = activity.bidCategory.name %}                                                        
                                                            {% if activity.bidCategory.name == category %}
                                                        
                                                          {{activity.typeOfActivity}} 
                                                         {% endif %}
                                                           {{ activity.bidCategory.name}} :{{activity.typeOfActivity}}
                                                       </li>
                                                        {% endfor %}
                                                       
                                                    </ul>
                                                </div>
                                                <div class= "span6">
                                                    <h3>Location:</h3>
                                                    <ul class=" unstyled amounts">

                                                        <li  class="text-bold">Zone	: {{request.zone}}</li>
                                                        <li  class="text-bold">Country	: {{request.country}}</li>


                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="row-fluid">
                                                <div class= "span12">
                                                    <h3>Special Requirements:</h3>
                                                    <ul class=" unstyled amounts">
                                                        <li class="text-bold"><p>{{request.description}} </p></li>


                                                    </ul>
                                                </div>
                                            </div>
                                        </div>   <!-- END row-fluid -->
                                    </div>
                                    <!-- END HORIZONTAL DESCRIPTION LISTS PORTLET-->
                                </div>
                                <div class="span6">
                                    <h4 style="font-weight:bold; color:#000;">Organiser Participated</h4>
                                    <div id="accordion" class="accordion in collapse" style="height: auto;">
                                                {% set orgid = '' %}
                                        {% set desp = '' %}
                                        {% set pick = '' %}
                                        {% set down = '' %}
                                        {% set dateMin =''  %}
                                        {% set dateMax = ''  %}
                                        {% set includeCost = ''  %}
                                        {% set excludeCost = '' %}
                                        {% set totalCost = '' %}
                                    {% for listOrganiser in listOrganiser %}
                                                                          
                                     <div class="accordion-group">
                                            
                                            
                                           
                                            <div class="accordion-heading">
                                                <a href="#collapseOne{{loop.index}}" data-parent="#accordion" data-toggle="collapse" class="accordion-toggle">
                                                 {% for listname in listOrganiser %}{{listname}} {% endfor%}
                                                </a>
                                            </div>
                                            
                                            <div class="accordion-body collapse " id="collapseOne{{loop.index}}">
                                                <div class="accordion-inner">
                                                    <div class="widget red">
                                                        <div class="widget-title">
                                                            <h4><i class="icon-comments-alt"></i> Conversation</h4>
                                                            
                                                        </div>
                                                        <div class="widget-body widgetoverflow">
                                              
                                                            {% for comment in comment %}
                                                            
                                                            <div class="timeline-messages">
                                                                
                                                                {% if comment.user != null and comment.role == 'ROLE_USER' %}
                                                                <!-- Comment -->
                                                                <div class="msg-time-chat">
                                                                    <a class="message-img" href="#"><img alt="" src="{{asset(comment.user.webpath)}}" class="avatar"></a>
                                                                    <div class="message-body msg-in">
                                                                        <span class="arrow"></span>
                                                                        <div class="text">
                                                                            <p class="attribution"><a href="#">{{comment.user}}</a> at {{comment.createdAt|date()}}</p>
                                                                            <p>{{comment.description}}</p>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- /comment -->
                                                                {% elseif comment.organiser != null and comment.role == 'ROLE_ORGANISER' %}
                                                                <!-- Comment -->
                                                                    <div class="msg-time-chat">
                                                                        <a class="message-img" href="#"><img alt="" src="{{asset(comment.organiser.webpath)}}" class="avatar"></a>
                                                                        <div class="message-body msg-out">
                                                                            <span class="arrow"></span>
                                                                            <div class="text">
                                                                                <p class="attribution"> <a href="#">{{comment.organiser}}</a> at {{comment.createdAt|date()}}</p>
                                                                                <p>{{comment.description}}</p>
                                                                                {% if loop.length %}
                                                                                {% set orgid = comment.organiser.id  %}
                                                                                {% set desp = comment.description  %}
                                                                                {% set down = comment.down  %}
                                                                                {% set pick = comment.pick  %}
                                                                                 {% set dateMin = comment.dateMin  %}
                                                                                 {% set dateMax = comment.dateMax  %}
                                                                                 {% set includeCost = comment.includeCost  %}
                                                                                 {% set excludeCost = comment.excludeCost  %}
                                                                                 {% set totalCost = comment.totalCost  %}
                                                                                {%endif%}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /comment -->
                                                                {% endif %}
                                                                                                 
                                                   
                                                            </div>
                                                            {% endfor %}
                                                       
                                                        </div>
                                                    </div>
                                                      <div class="accordion-block">
                                                    <div class="row-fluid">
                                                        {{form_start(Form)}}
                                                        <div class="span5">
                                                            <div class="control-group">
                                                                <div class="controls">
                                                                    {{ form_widget(Form.description,{'attr':{'class':'span12'} }) }} {{  form_errors(Form.description) }}
                                                                    <input type="hidden" name="orgid" value="{{ orgid }}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="span7">
                                                        {#{{ form_rest(Form) }}#}
                                                        <div class="span4">
                                                            <button class="btn btn-small btn-success" id="save" type="submit"> <i class="icon-ok"></i>Reply</button>
                                                            </div>
                                                        {{form_end(Form)}}
                                                        {#<div class="span4">
							<a href="{{path('adventure_bidding_user_request_confirm_deal',{"reqId":request.id})}}" class="btn btn-small btn-primary"><i class="icon-check"></i>  Confirm</a>
                                                        </div>#}
                                                            <div class="span4">
                                                                <button class="btn btn-small btn-default"><i class="icon-ban-circle"></i> Cancel</button>
                                                            </div>

                                                        </div>

                                                    </div>		
                                                </div>
                                                     <div class="row">
                                           
<!--- organiser response form start here-->
    <div class="form-actions" style="margin-left:50px;">
                                        <!-- Close form  organiser -->
                                        <form action="{{path('adventure_bidding_user_request_confirm_deal',{"reqId":request.id})}}" method="post" >       
                                        <div id="collapse_2" class="accordion-body collapse in">
                      <div class="">
                        
                        <div class="well">
                          <h3>Organiser Quatation Details:-</h3>
                          <hr>
                          <div class ="row-fluid">
                            <div class="span8">
                              <div class="form-group">
                                <label >Proposed Date </label>
                                
                                <input type="text"  value="{{dateMin |date('m-d-Y')}}" readonly='readonly' class="span5"  >
                                To
                                
                                <input type="text"  value="{{dateMax |date('m-d-Y')}}" readonly='readonly' class="span5" >
                              </div>
                            </div>
                               </div>
                          <div class ="row-fluid">
                            <div class="span4">
                              <div class="control-group">
                                <label class="control-label" >Pick-Up Point </label>
                               <input class='input-block-level' type="text" readonly='readonly'value="{{pick}}" >
                              </div>
                            </div>
                            <div class="span4">
                              <div class="control-group">
                                <label class="control-label" >Drop off point </label>
                               <input class='input-block-level'type="text" readonly='readonly' value="{{down}}" >
                              </div>
                            </div>
                          </div>
                          <div class="row-fluid">
                            <div class="span4">
                              <div class="control-group">
                                  <label class="control-label" >Total Estimate</label>
                                <input class='input-block-level' type="text" readonly='readonly' value="{{totalCost}}" >
                              </div>
                            </div>
                            <div class="span4">
                              <div class="form-group">
                                <label class="control-label">Cost include</label>
                               <input class='input-block-level'type="text" readonly='readonly' value="{{includeCost}}" >
                              </div>
                            </div>
                            <div class="span4">
                              <div class="form-group">
                                <label class="control-label">Cost Exclude</label>
                               <input class='input-block-level' type="text" readonly='readonly' value="{{excludeCost}}" >
                              </div>
                            </div>
                                  </div>
                          <div class="row-fluid">
                             
                                  
                            <div class="span5">
                              <div class="control-group">
                                <label class="input-block-level"> Short itinerary and Details: </label>
                                <div class="controls">
                                    <textarea readonly='readonly'> {{ desp }}</textarea>
{#                                    {{ form_widget(Form.description,{'attr':{'class':'span12'} }) }} {{  form_errors(Form.description) }}#}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                              
                        </div>
                   
                 <button class="btn btn-small btn-primary"><i class="icon-check"></i>  Accept Deal</button>
                                    
                                        <!-- close form final deal -->
                                                   </div>
                                        <!--  from ends here -->
                                        </form>
                                                 </div>
                                                </div>
                                            </div>
                                            {######################################################################}
                                        </div>
                                        {% endfor %}
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END BLANK PAGE PORTLET-->
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
            <!-- END PAGE CONTAINER-->
        </div>
        <!-- END PAGE -->  
    </div>
    <!-- END CONTAINER -->
    </div>

</body>
<!-- END BODY -->
{%endblock%}

{%block javascripts %}
{{parent()}}

{%endblock%}