<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title> Home | Registration Page</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="{{asset('home/assets1/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/plugins/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/css/style-metro.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/css/style.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/css/style-responsive.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/css/themes/default.css')}}" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="{{asset('home/assets1/plugins/uniform/css/uniform.default.css')}}" rel="stylesheet" type="text/css"/>
	
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="{{asset('home/assets1/css/pages/login.css')}}" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="{{asset('home/favicon.ico')}}" />
	
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo">
		<!-- <img src="assets/img/logo-big.png" alt="" />  -->
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
    
    <div class="content">
     <header class="headertop">
        	<h3 class="text-bold white">Adventure Bidding System</h3>
			<span class="title"><strong>Member Sign Up</strong></span>
		</header>
		<!-- BEGIN Registration FORM -->
                {{form_start(Form,{'attr':{'class':'form-vertical login-form'} } )}}
			<div class="seprator"></div>
                        <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">Full Name</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
                                                {{ form_widget(Form.username,{'attr': {'class':'m-wrap placeholder-no-fix', 'placeholder':'Full Name'} }) }}{{  form_errors(Form.username) }}
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">Email</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-envelope-alt"></i>
                                                {{ form_widget(Form.email,{'attr': {'class':'m-wrap placeholder-no-fix', 'placeholder':'Email'} }) }}{{  form_errors(Form.email) }}
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">Password</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-lock"></i>
                                                {{ form_widget(Form.password,{'attr': {'class':'m-wrap placeholder-no-fix', 'placeholder':'Password'} }) }}{{  form_errors(Form.password) }}
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-ok"></i>
                                                {{ form_widget(Form.confirmpassword,{'attr': {'class':'m-wrap placeholder-no-fix', 'placeholder':'Re-type Your Password'} }) }}{{  form_errors(Form.confirmpassword) }}
					</div>
				</div>
			</div>
			{{ form_rest(Form) }}
			<div class="form-actions">
			      <a href="{{path('adventure_home')}}" class="btn">
				<i class="m-icon-swapleft"></i>  Back
				</a>
				<button type="submit" id="register-submit-btn" class="btn green pull-right">
				Sign Up <i class="m-icon-swapright m-icon-white"></i>
				</button>            
			</div>
			
			<div class="fbgmail">
            	<div class="btn blue btn-block ">
                	<a href="#">Facebook Signin</a>
                </div>
                <div class="btn red btn-block">
                	<a href="#">Gmail Signin</a>
                </div>
            </div>
          {{form_end(Form)}}
        <div class="footsec black">Copyright &copy; 2006 - 2015</div>
	<!-- END Registration FORM -->        
		
	</div>
	<!-- END LOGIN -->
	
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<script src="{{asset('home/assets1/plugins/jquery-1.10.1.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('home/assets1/plugins/jquery-migrate-1.2.1.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('home/assets1/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js')}}" type="text/javascript"></script>      
	<script src="{{asset('home/assets1/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
	
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="{{asset('home/assets1/scripts/app.js')}}" type="text/javascript"></script>
	<script src="{{asset('home/assets1/scripts/login.js')}}" type="text/javascript"></script> 
	<!-- END PAGE LEVEL SCRIPTS --> 
	<script>
		jQuery(document).ready(function() {     
		  App.init();
		  Login.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>