
Dear User,

        Welcome to www.adventureclicknblog.com, the adventure hub of India.
        
        We again, thank you for registering with us.
        
        We need to make sure you are human. Please verify your email and get started using your Website account.
        
        Click on this link to verify your email address 
        
        Localhost :  
        
        http://localhost/dev/Bid_Adventure/web/app_dev.php/verify-email?memId={{memberId}}&activation={{code}}&role={{role}}

        http://www.localhost.com/dev/Bid_Adventure/web/app_dev.php/verify-email?memId={{memberId}}&activation={{code}}&role={{role}}
        
        You can follow us in facebook at https://www.facebook.com/adventureclicknblog?ref=hl

        Warm Regards,
        Admin,
        www.adventureclicknblog.com
