{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                    Edit Events
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="{{path('adventure_home')}}">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Edit Events
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
             <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
          <!-- BEGIN ACCORDION PORTLET-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
               <div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                
                <div class="widget blue">
                    <div class="widget-title">
                        <h4><i class="icon-search"></i> Filter Your Search</h4>
                         
                    </div>
                    <div class="widget-body">
                         <form class="form-inline" method="post">
                         <div class="row-fluid">
                         
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Filter Search</label>
                          <div class="controls">
                                    <select class="span8 " data-placeholder="Choose a Category" tabindex="1">
                                        <option value="">Select...</option>
                                        <option value="Activities">Activities</option>
                                        <option value="Zones">Zones</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                          
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Search</label>
                           <div class="controls">
                          <input type="text" class="span8"/>   
                          </div>
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          
                          <label class="control-label"></label>
                          <div class="controls">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Submit</button>
                         <button type="button" class="btn">Cancel</button>
                
               </div>
                          </div>
                         </div>
                         
                         
                         </div>
                         
                         </form>
                        
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
              <div class="row-fluid">
                    
                    <!--marquee start here-->
                    <div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget blue">
                            <div class="widget-title">
                                <h4>Add Event</h4>
                            </div>
                            <div class="widget-body">
                                <div class ="row-fluid">  
                               <div class="span12">
                                
                                {{form_start(form,{'attr':{'class':'form-vertical'} } )}}
                                    <div class="well">
                      <h3>Event Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Full Name</label>
                            {{ form_widget(form.ename,{'attr':{'class':'input-block-level'} } ) }}
                            
                          </div>
                        </div>
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Activities </label>
                            {{ form_widget(form.eActivity,{'attr':{'class':'input-block-level chzn-select'} }) }} {{  form_errors(form.eActivity) }}
                          
                          </div>
                        </div>
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Travel Date</label>
                            {{ form_widget(form.eDate,{'attr':{'class':'datepicker span5'} }) }}  {{  form_errors(form.eDate) }}
                          
                          </div>
                        </div>
                        
                       
                      </div>
                      <div class="row-fluid">
                      <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Phone No </label>
                            {{ form_widget(form.eContactDetail,{'attr':{'class':'input-block-level'} } ) }}
                          </div>
                        </div>
                        <div class="span4">
                <div class="control-group">
                            <label class="control-label" >Email </label>
                            {{ form_widget(form.email,{'attr':{'class':'input-block-level'} } ) }}
                          </div>
                        </div>
                        <div class="span4">
                <div class="control-group">
                            <label class="control-label" >Duration </label>
                            {{ form_widget(form.duration,{'attr':{'class':'input-block-level'} } ) }}
                          </div>
                        </div>
                    
                        </div>
                       <div class="row-fluid">
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">continent</label>
                            {{ form_widget(form.continent,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.country) }}
                            
                          </div>
                        </div>
                          <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Country</label>
                            {{ form_widget(form.country,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.continent) }}
                          </div>
                        </div>
                    <div class="span4">
                        <div class="control-group">
                          <label class="input-block-level"> Description: </label>
                          <div class="controls">
                            
                            {{ form_widget(form.eBrief,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.eBrief) }}
                          </div>
                        </div>
                      </div>
                      </div>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >State</label>
                          {{ form_widget(form.eState,{'attr':{'class':'input-block-level ','id':'select2_sample4','placeholder':'Choose an option'} }) }} {{  form_errors(form.eState) }}
                          </div>
                        </div>
                          <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Region</label>
                            {{ form_widget(form.eRegion,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.eRegion) }}
                          </div>
                              
                        </div>
                          <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Destination</label>
                            {{ form_widget(form.eDestination,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.eDestination) }}
                          </div>
                          </div>  
                        </div>
                           <div class ="row-fluid">
                          
                               <div class="span4">
                        
                         <div class="control-group">
                                    <label class="control-label">Logo Upload</label>
                                    <div class="controls">
                                        <div data-provides="fileupload" class="fileupload fileupload-new">
                                            <div style="width: 200px; height: 150px;" class="fileupload-new thumbnail">
                                                <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                            </div>
                                            <div style="max-width: 200px; max-height: 150px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                            <div>
                                               <span class="btn btn-file"><span class="fileupload-new">Select image</span>
                                               <span class="fileupload-exists">Change</span>
                                               {{ form_widget(form.path,{'attr':{'class':'default'} }) }} {{  form_errors(form.path) }}</span>
                                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                        
                        </div>
                          {#<div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Month</label>
                            {{ form_widget(form.eMonth,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.eMonth) }}
                          </div>
                        </div>
                               <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Year</label>
                            {{ form_widget(form.eYear,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.eYear) }}
                          </div>
                        </div>#}
                      </div>
                         
                          <div class ="row-fluid">
                          <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Difficulty</label>
                            {{ form_widget(form.eDifficulty,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.eDifficulty) }}
                          </div>
                        </div>
                          <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Zone</label>
                            {{ form_widget(form.eZone,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.eZone) }}
                          </div>
                        </div>
                               <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Budget</label>
                            {{ form_widget(form.budget,{'attr':{'class':'input-block-level ','id':'select2_sample4'} }) }} {{  form_errors(form.budget) }}
                          </div>
                        </div>
                      </div>
                    </div>             
                     {# <div class="form-actions">
                      <input type="submit" class="btn btn-primary" value="Submit">
                      <a href="{{path('adventure_bidding_organiser_view_event')}}"><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>
                  {{form_end(form)}}#}
                            {{ form_rest(form) }}
                    <div class="form-actions">
                      <button class="btn btn-primary" id="save" type="submit"> Submit</button>
                      <button type="button" class="btn btn-default">Cancel</button>
                    </div>
                  {{form_end(form)}}      
                              
                   
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
                         <!--marquee End here-->
                </div>
                
                
            </div>

            <!-- END PAGE CONTENT-->         

      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->
 <!--model for feedback-->  
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">User Feedback</h3>
            </div>
            <div class="modal-body">
            <p>Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo.
             Sed ut quam at magna porttitor hendrerit. Maecenas quis erat fringilla augue feugiat vulputate a eu 
            sem.Vivamus ut diam at turpis varius tempor. Aliquam dictum sagittis erat, vehicula adipiscing
             diam condimentum id. </p>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
           
            </div>
      </div>
               
 <!--end model for feedback-->    
    
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}