REQUEST LIST matching country and zone
 
<table>
    <thead>
        <tr>
            <th >Sr. No.||</th>
            <th >Your Request||</th>
            <th >Status ||</th>
            <th >View||</th>
        </tr>
    </thead>
    <tbody>
        {% set count = '1' %}
        {% for requestUser in requestUser %}
        <tr>
            <td>{{ count }}</td>
            <td>&nbsp;{{requestUser.name }}</td>
                {% if(requestUser.status=="0") %}
                    <td>&nbsp;Close</td>
                    <td>
                        <a href="{{path("adventure_bidding_organiser_view_close_request",{"id":requestUser.id})}}"> Close View  </a> <br>
                    </td>
                {% else %}
                    <td>&nbsp;Open</td>
                    <td>
                        <a href="{{path("adventure_bidding_organiser_view_open_request",{"id":requestUser.id})}}"> Open View  </a> <br>
                    </td> 
                {% endif%}
            
        </tr>
        {% set count = count + '1' %}
        {% endfor %}
    </tbody>
</table>
