{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}

<style>
    .thumbnail:hover img{
            opacity:0.5;
    }
    
    .thumbnail:hover button {
    display: block;
                            }
    .thumbnail button {
    position:absolute;
    display:none;
                      }
    .a{ top:auto;
        left:auto;
       position: relative;
        
    }
    .dl-horizontal > dd {
        text-align: left;
    }
     
    </style>
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           My Profile <span class="divider">/</span>
                       </li>
                       <li class="active">
                           View Profile
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
             <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
                <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN ACCORDION PORTLET-->
                    <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>View Organizer Inforation</h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           <div class="span3">
                                                 <img src="{{asset(member.webPath)}}" alt="">
                                             </div>
                                             <div class="span9">
                                                <h4><b>Full Name : {{member.name}}</b></h4>
                                                 <ul class=" unstyled amounts">
                                                     <li>Email		: {{member.email}}</li>
                                                     <li>Phone No.	: {{member.phone}}</li>
                                                     <li>Address	: {{member.address}}</li>
                                                     <li>Area Code	: {{member.zip}}</li>
                                                     <li>Country	: {{member.country}}</li>
                                                    
                                                 </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    <!-- END ACCORDION PORTLET-->
                </div>
                      <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>Your Events List </h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           
                                                <div class="row text-center" style='margin-left:0px;'>
                                                      {% set count = '1' %}
                                                 {# {% set image =''%}#}
                                                    {% set activity =''%}
                                        {% for event in event %}
                                                   
                                                  {# {% set image = trails.coverImage|split('.') %}#}

            <div class="span3 hero-feature">
                <div class="thumbnail">
                    <img src="http://blog.lionbrand.com/wp-content/uploads/2014/11/traveltips2.jpg  " alt="">
                       <form action="{{path('adventure_bidding_organiser_event_delete',{"id":event.id})}}" method='POST' name='trails'>
                     <button class="btn-danger a" onclick="return confirm('Are you sure you want to delete this member ?');">X</button>
                       <input type='hidden' name='orgid' value='{{ app.security.getToken().getUser().getId() }}' />
                        <input type='hidden' name='trailid' value='{{event.id}}' />
                       </form>
                    <div class="caption">
                       <h3>{{event.eState}}</h3>
                        <p>{{event.ename}}</p>
                        <div class='row-fluid'>
                            <div class='span6' style='border-right:1px #000 solid ; '><h4>Duration</h4>
                                <p> {{event.duration}} days</p>   
                         </div>
                            <div class='span6' style='line-height: 4px;'><h4>Difficulty</h4><p> {{event.eDifficulty}}</p></div>
                             </div>
                         <form action="{{path('adventure_bidding_organiser_edit_event',{"id":event.id})}}" method='POST' name='trails'>
                        <p>
                           <a href="#myModal{{count}}" role="button" class="btn btn-primary" data-toggle="modal">Read More</a>
                       
                        <input class="btn btn-danger"  type='submit' name='submit' value='Edit'/>
                       
                        </p>
                         </form>
                    </div>
                </div>
            </div>
                                             <!--model for feedback-->  
      <div id="myModal{{count}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{event.ename}}</h3>
            </div>
            <div class="modal-body">
            <div class="row-fluid">
                    <div class="span4">
                    <img src="http://alumni.brandeis.edu/images/LeelaPalace.jpg" alt="" width='100%'/>
                    
                       </div><br/><br/>
                    <div class="span8">
                        {% set activity = event.eActivity|split('***') %}
                       <dl class="dl-horizontal" style='margin-top:-30px;   '>
                            <dt>Activities :</dt>
                             {% for activity in activity%}
                            <dd>{{activity}}</dd>
                            </dl> 
                        {% endfor%}
                    </div>
                    </div>
                    <div class="row-fluid">
                    
                    <div class="span12 well">
                    
                         <div class='row-fluid'>
                            <div class='span6' style='border-right:1px #000 solid ; '><h4>Location</h4>
                                <dl class="dl-horizontal">
                            <dt>State</dt>
                            <dd>{{event.eState}}</dd>
                            <dt>Budget</dt>
                            <dd>{{event.budget}}</dd>
                            <dt>Zone</dt>
                            <dd>{{event.eZone}}</dd>
                            <dt>Region</dt>
                            <dd>{{event.eRegion}}</dd>
                            <dt>Destination</dt>
                            <dd>{{event.eDestination}}</dd>
                            
                        </dl> 
                         </div>
                            <div class='span6' style='line-height: 4px;'><h4>Details</h4>
                                
                                <p> <dl class="dl-horizontal">
                            <dt>Date</dt>
                            <dd>{{event.eDate | date('d-M-Y')}}</dd>
                            <dt>Duration</dt>
                            <dd>{{event.duration}}</dd>
                            <dt>Difficulty</dt>
                            <dd>{{event.eDifficulty}}</dd>
                            <dt>Activities</dt>
                            <dd>Comming soon</dd>
                            <dt>About Event</dt>
                            <dd>{{event.eBrief}}</dd>
                        </dl></p></div>
                             </div>
                    </div>
                    </div>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
           
            </div>
      </div>
               
 <!--end model for feedback-->   
      {% set count = count + '1' %}
                                      {% endfor%}              
               </div>                               
                                         <ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>  
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    <!-- END ACCORDION PORTLET-->
                </div>
                    
                      <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>Your Trail List</h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           
                                                <div class="row text-center">

                                                    {% set count = '1' %}
                                                  {% set image =''%}
                                        {% for trails in trails %}
                                                    {% for trails in trails %}
                                                   {% set image = trails.coverImage|split('.') %}
                                      <div class="span3 hero-feature">
                <div class="thumbnail">

                    <img src="http://www.adventureclicknblog.com/home/article/{{image[0]}}/cover/{{trails.coverImage}}" alt="Adventure" class="img-responsive" style="height:185px !important " >
                    
                    <div class="caption">
                        <h3>{{trails.state}}</h3>
                        <p>{{trails.articleTitle}}</p>
                        <div class='row-fluid'>
                            <div class='span6' style='border-right:1px #000 solid ; '><h4>Duration</h4>
                                <p> {{trails.durationMin}} to {{trails.durationMax}} days</p>   
                            </div>
                        <div class='span6' style='line-height: 4px;'><h4>Difficulty</h4><p> {{trails.difficulty}}</p>   </div>
                        </div>
                       
                         <form action="{{path('adventure_bidding_organiser_remove_trails',{"id":trails.id})}}" method='POST' name='trails'>
                        <p>
                           <a href="http://www.adventureclicknblog.com/articlepage.php?title={{trails.uniquee}}" target='_blank'class="btn btn-primary">Read More</a>
                       
                        <input class="btn btn-danger"  type='submit' name='submit' value='Remove Trail'/>
                          <input type='hidden' name='orgid' value='{{ app.security.getToken().getUser().getId() }}' />
                        <input type='hidden' name='trailid' value='{{trails.id}}' />
                        </p>
                         </form>

                    </div>
                </div>
            </div>       
                    

                              {% endfor%}  {% endfor%}
      
        </div>
                                     </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    <!-- END ACCORDION PORTLET-->
                </div>
                    
            </div>

            <!-- END PAGE CONTENT-->         
         </div>

            <!-- END PAGE CONTENT-->         
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->

   
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}