{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
<style>
    .thumbnail:hover img{
            opacity:0.5;
    }


    </style>

{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                    Trails
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="{{path('adventure_home')}}">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           All Trails
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end --> 
           <div id="page-wraper">
               <div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                
                <div class="widget blue">
                    <div class="widget-title">
                        <h4><i class="icon-search"></i> Filter Your Search</h4>
                         
                    </div>
                    <div class="widget-body">
                         <form class="form-inline" method="post">
                         <div class="row-fluid">
                         
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Filter Search</label>
                          <div class="controls">
                                    <select class="span8 " data-placeholder="Choose a Category" tabindex="1">
                                        <option value="">Select...</option>
                                        <option value="Activities">Activities</option>
                                        <option value="Zones">Zones</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                          
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Search</label>
                           <div class="controls">
                          <input type="text" class="span8"/>   
                          </div>
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          
                          <label class="control-label"></label>
                          <div class="controls">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Submit</button>
                         <button type="button" class="btn">Cancel</button>
                
               </div>
                          </div>
                         </div>
                         
                         
                         </div>
                         
                         </form>
                        
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
          
            <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>Adventure Trails List </h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
                                <div class="accordion-group">
                                   
                                    <div id="tab1" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                           
                                                <div class="row text-center">
                                       {% set count = '1' %}
                                                    {% set image =''%}
                                        {% for trails in trails %}
                                                    {% set image = trails.coverImage|split('.') %}
                                      <div class="span3 hero-feature">
                <div class="thumbnail">

                    <img src="http://www.adventureclicknblog.com/home/article/{{image[0]}}/cover/{{trails.coverImage}}" alt="Adventure" class="img-responsive" style="height:185px !important " >
                    
                    <div class="caption">
                        <h3>{{trails.state}}</h3>
                        <p>{{trails.articleTitle}}</p>
                        <div class='row-fluid'><div class='span6' style='border-right:1px #000 solid ; '><h4>Duration</h4>
                                <p> {{trails.durationMin}} to {{trails.durationMax}} days</p>   
                         </div>
                        <div class='span6' style=' line-height: 4px;'><h4>Difficulty</h4><p> {{trails.difficulty}}</p>   </div>
                        </div>
                       
                         <form action="{{path('adventure_bidding_organiser_add_trails',{"id":trails.id})}}" method='POST' name='trails'>
                        <p>
                           <a href="http://www.adventureclicknblog.com/articlepage.php?title={{trails.uniquee}}" target='_blank'class="btn btn-primary">Read More</a>
                       
                        <input class="btn btn-danger"  type='submit' name='submit' value='Add Trail'/>
                          <input type='hidden' name='orgid' value='{{ app.security.getToken().getUser().getId() }}' />
                        <input type='hidden' name='trailid' value='{{trails.id}}' />
                        </p>
                         </form>

                    </div>
                </div>
            </div>       
                                                   

                              {% endfor%}
 

                                                    
                                                    
        </div>
                                                 
                                             
                                           
                                        </div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                
                                       <!-- END ACCORDION PORTLET-->
                </div>
            
                
                
            </div>

            <!-- END PAGE CONTENT-->         

      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->
 <!--model for feedback-->  
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">All Trails</h3>
            </div>
            <div class="modal-body">
            <p>Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo.
             Sed ut quam at magna porttitor hendrerit. Maecenas quis erat fringilla augue feugiat vulputate a eu 
            sem.Vivamus ut diam at turpis varius tempor. Aliquam dictum sagittis erat, vehicula adipiscing
             diam condimentum id. </p>
            </div>
            <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
           
            </div>
      </div>
               
 <!--end model for feedback-->    
    
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}