{% extends "::organiserbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
<!-- BEGIN BODY -->
<body class="fixed-top">


        <!-- BEGIN PAGE -->  
        <div id="main-content">
            <!-- BEGIN PAGE CONTAINER-->
            <div class="container-fluid">
                <!-- BEGIN PAGE HEADER-->   
                <div class="row-fluid">
                    <div class="span12">

                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                        <h3 class="page-title">
                            <!-- FAQ -->
                        </h3> 
                        <ul class="breadcrumb">
                            <li>
                                <a href="{{path('adventure_home')}}">Home</a>
                                <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="{{path('adventure_bidding_organiser_dashboard')}}">All Request</a>
                                <span class="divider">/</span>
                            </li>
                            <li class="active">
                                Organiser Conversation
                            </li>

                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
                <div class="row-fluid">
                    
                    <div class="span12">
                        <!-- BEGIN BLANK PAGE PORTLET-->
                        <div class="widget blue">
                            <div class="widget-title">
                                <h4><i class="icon-question-sign"></i> Request and Comments </h4>

                            </div>
                            <div class="widget-body">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <h4 class="title grey" style="font-weight:bold; color:#000;">Users Request Details</h4>

                                        <!-- BEGIN HORIZONTAL DESCRIPTION LISTS PORTLET-->
                                        <div class="widget blue">
                                            <div class="widget-title">
                                                <h4><i class="icon-reorder"></i>Request Details By <b style="text-transform: uppercase;"> {{request.user}} </b></h4>

                                            </div>
                                            <div class="widget-body">
                                                <div class="row-fluid">
                                                    <div class= "span12">
                                                        <h3>Trip Info:</h3>
                                                        <ul class=" unstyled amounts">
                                                            <li class="text-bold">Trip Name	: {{request.name}}</li>
                                                            <li  class="text-bold">No of Males: {{request.male}}</li>
                                                            <li  class="text-bold">No Of Females	: {{request.female}}</li>
                                                            <li  class="text-bold">No Of Travellers	: {{request.traveler}} </li>
                                                            <li  class="text-bold">Pick-Up Location	: {{request.pick}}</li>
                                                            <li  class="text-bold">Drop Location	: {{request.down}}</li>
                                                            <li  class="text-bold">Trip Tentative (in days)	: {{request.day}}</li>
							{% if request.team == 0 %}
                                                            <li  class="text-bold">Combine Group	: No</li>
                                                     {% else %}
                                                            <li  class="text-bold">Combine Group	: Yes</li>
                                                     {% endif %}

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class= "span6">
                                                        <h3>Activities:</h3>
                                                        <ul class=" unstyled amounts">
                                                            {% for activity in request.activity %}
                                                            
                                                            <li class="text-bold">{{activity.typeOfActivity}}</li>
                                                     {% endfor %}

                                                        </ul>
                                                    </div>
                                                    <div class= "span6">
                                                        <h3>Location:</h3>
                                                        <ul class=" unstyled amounts">

                                                            <li  class="text-bold">Zone	: {{request.zone}}</li>
                                                            <li  class="text-bold">Country	: {{request.country}}</li>


                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="row-fluid">
                                                    <div class= "span12">
                                                        <h3>Special Requirements:</h3>
                                                        <ul class=" unstyled amounts">
                                                            <li class="text-bold"><p> {{request.description}} </p></li>


                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>   <!-- END row-fluid -->
                                        </div>
                                        <!-- END HORIZONTAL DESCRIPTION LISTS PORTLET-->
                                    </div>
                                    <div class="span6">
                                        <h4 style="font-weight:bold; color:#000;">Chat History</h4>

                                        <!-- BEGIN CHAT PORTLET-->
                                        <div class="widget red">
                                            <div class="widget-title">
                                                <h4><i class="icon-comments-alt"></i> Conversation</h4>

                                            </div>

                                            <div class="widget-body  widgetoverflow">
                                               
                                                {% set userid = '' %}
                                        {% for comment in comment %}
                                                <div class="timeline-messages">
                                                {% if comment.user != null and comment.role == 'ROLE_USER'%}
                                                    <!-- Comment -->
                                                    <div class="msg-time-chat">
                                                        <a class="message-img" href="#"><img alt="" src="{{asset(comment.user.webpath)}}" class="avatar"></a>
                                                        <div class="message-body msg-in">
                                                            <span class="arrow"></span>
                                                            <div class="text">
                                                                <p class="attribution"><a href="#">{{comment.user}}</a> at {{comment.createdAt|date()}}</p>
                                                                <p>{{comment.description}}</p>
                                                                {% set userid = comment.user.id%}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /comment -->
                                                                {% elseif comment.organiser != null and comment.role == 'ROLE_ORGANISER' %}
                                                    
                                                     
                                                    <!-- Comment -->
                                                    <div class="msg-time-chat">
                                                        <a class="message-img" href="#"><img alt="" src="{{asset(comment.organiser.webpath)}}" class="avatar"></a>
                                                        <div class="message-body msg-out">
                                                            <span class="arrow"></span>
                                                            <div class="text">
                                                                <p class="attribution"> <a href="#">{{comment.organiser}}</a> at {{comment.createdAt|date()}}</p>
                                                                <p>{{comment.description}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                    <!-- /comment -->
                                                    
                                  
                                                                {% endif %}


                                                </div>
                                        {% endfor %}



                                            </div>
                                            <div class="form-actions" style="margin-left:50px;">
                                                {#<form>
                                                <textarea rows="3" class="span10" placeholder="Reply to user"></textarea>
                                                <a href="" class="btn btn-small btn-info"><i class="icon-check"></i>  Reply</a><br/>
                                                </form>#}
                                                <a href="{{path("adventure_bidding_organiser_create_response",{"id":request.id ,"userid":userid})}}" class="btn btn-small btn-danger"><i class="icon-check"></i>  New Quatation</a>
                                                <a href="" class="btn btn-small btn-success"><i class="icon-check"></i>  Close Deal</a>
                                                <a href="{{path('adventure_bidding_organiser_dashboard')}}" class="btn btn-small btn-info"><i class="icon-ban-circle"></i> Cancel</a>
                                            </div>

                                        </div>
                                       
                                        <!-- END CHAT PORTLET-->
                                        <div class="form-actions" style="margin-left:50px;">
                                       {% for quatations in quatations %} <!-- Close form  organiser -->
                                        <form action="{{path("adventure_bidding_organiser_reply_open_request",{"id":request.id})}}" method="POST" >       
                                        <div id="collapse_2" class="accordion-body collapse in">
                      <div class="">
                          
                        <div class="well">
                          <h3>Response Details:-</h3>
                          <hr> 
                                        
                                        
                          <div class ="row-fluid">
                            <div class="span8">
                              <div class="form-group">
                                  <input type="hidden" name="userid" value="{{ userid }}">
                                <label >Any particular Date or Month </label>
                                
                                <input type="text" value="{{ quatations.dateMin |date('d-m-Y')}}"  name='dateMin' class="datepicker1 span5" data-date-format="mm-dd-yyyy" >
                                To
                                
                                <input type="text" value="{{ quatations.dateMax |date('d-m-Y')}}" name='dateMax' class="datepicker2 span5" data-date-format="mm-dd-yyyy" >
                              </div>
                            </div>
                               </div>
                          <div class ="row-fluid">
                            <div class="span4">
                              <div class="control-group">
                                <label class="control-label" >Pick-Up Point </label>
                               <input class='input-block-level' name='pick' type="text" value="{{quatations.pick}}" >
                              </div>
                            </div>
                            <div class="span4">
                              <div class="control-group">
                                <label class="control-label" >Drop off point </label>
                               <input class='input-block-level'type="text" name='down' value="{{quatations.down}}" >
                              </div>
                            </div>
                          </div>
                          <div class="row-fluid">
                            <div class="span4">
                              <div class="control-group">
                                  <label class="control-label" >Total Estimate</label>
                                <input class='input-block-level' type="text" name='totalCost'  value="{{quatations.totalCost}}" >
                              </div>
                            </div>
                            <div class="span4">
                              <div class="form-group">
                                <label class="control-label">Cost include</label>
                               <input class='input-block-level'type="text" name='includeCost' value="{{quatations.includeCost}}" >
                              </div>
                            </div>
                            <div class="span4">
                              <div class="form-group">
                                <label class="control-label">Cost Exclude</label>
                               <input class='input-block-level' type="text" name='excludeCost' value="{{quatations.excludeCost}}" >
                              </div>
                            </div>
                                  </div>
                          <div class="row-fluid">
                             
                                  
                            <div class="span5">
                              <div class="control-group">
                                <label class="input-block-level"> Short itinerary and Details: </label>
                                <div class="controls">
                                    <textarea name='description'> {{quatations.description}}</textarea>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>
                   
                        <div class="form-actions">
                          <input type="submit" class="btn btn-primary" value="Submit">
                        </div>
</div></form>
                                        {% endfor%}
                                        <!-- close form final deal -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END BLANK PAGE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT-->
                </div>
                <!-- END PAGE CONTAINER-->
            </div>
            <!-- END PAGE -->  
        </div>
        <!-- END CONTAINER -->

</body>
<!-- END BODY -->
{%endblock%}

{%block javascripts %}
{{parent()}}
<script type="text/javascript">
		$(document).ready(function() {
		$('.multipl').multiselect();
		});
	</script> 
<script>
		$('.datepicker1').datepicker({
			dateFormat: 'mm-dd-Y',
                        setDate :''
			
                        
		})
		</script> 
<script>
		$('.datepicker2').datepicker({
			dateFormat: 'mm-dd-Y',
                        setDate : '' 
                     
			
                        
		})
		</script> 

{%endblock%}