{% extends "::admin.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System | User Profile{%endblock%} 


{% block body %}
<!-- BEGIN BODY -->
<body class="fixed-top">

   <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                            User Request and Comments
                        </h3> 
                        <ul class="breadcrumb">
                            <li>
                                <a href="{{path('adventure_home')}}">Home</a>
                                <span class="divider">/</span>
                            </li>
                            <li>
                                <a href="{{path('adventure_admin_list_request')}}">Request List</a>
                                <span class="divider">/</span>
                            </li>
                            <li class="active">
                                User Request and Comments
                            </li>

                        </ul>
                        <!-- END PAGE TITLE & BREADCRUMB-->
                    </div>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row-fluid">
                    <div class="span12">
                        <!-- BEGIN BLANK PAGE PORTLET-->
                        <div class="widget blue">
                            <div class="widget-title">
                                <h4><i class="icon-question-sign"></i> Request and Comments </h4>

                            </div>
                            <div class="widget-body">
                                <div class="row-fluid">
                                    <div class="span6">
                                        <h4 class="title grey" style="font-weight:bold; color:#000;">User Request Details</h4>

                                        <!-- BEGIN HORIZONTAL DESCRIPTION LISTS PORTLET-->
                                        <div class="widget blue">
                                            <div class="widget-title">
                                                <h4><i class="icon-reorder"></i> User’s Request Details </h4>

                                            </div>
                                            <div class="widget-body">
                                                <div class="row-fluid">
                                                    <div class= "span12">
                                                        <h3>Trip Info:</h3>
                                                        <ul class=" unstyled amounts">
                                                            <li class="text-bold">Trip Name	: {{request.name}}</li>
                                                            <li  class="text-bold">No of Males         : {{request.male}}</li>
                                                            <li  class="text-bold">No Of Females	: {{request.female}}</li>
                                                            <li  class="text-bold">No Of Travellers	: {{request.traveler}}</li>
                                                            <li  class="text-bold">Pick-Up Location	: {{request.pick}}</li>
                                                            <li  class="text-bold">Drop Location	: {{request.down}}</li>
                                                            <li  class="text-bold">Trip Tentative (in days)	: {{request.day}}</li>
                                                     {% if request.team == 0 %}
                                                            <li  class="text-bold">Combine Group	: No</li>
                                                     {% else %}
                                                            <li  class="text-bold">Combine Group	: Yes</li>
                                                     {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <div class= "span6">
                                                        <h3>Activities:</h3>
                                                        <ul class=" unstyled amounts">
                                                     {% for request in request %}
                                                            <li class="text-bold">{{request.activity.typeOfActivity}}</li>
                                                     {% endfor %}

                                                        </ul>
                                                    </div>
                                                    <div class= "span6">
                                                        <h3>Location:</h3>
                                                        <ul class=" unstyled amounts">

                                                            <li  class="text-bold">Zone	: {{request.zone}}</li>
                                                            <li  class="text-bold">Country	: {{request.country}}</li>


                                                        </ul>
                                                    </div>

                                                </div>
                                                <div class="row-fluid">
                                                    <div class= "span12">
                                                        <h3>Special Requirements:</h3>
                                                        <ul class=" unstyled amounts">
                                                            <li class="text-bold"><p> {{request.description}} </p></li>


                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>   <!-- END row-fluid -->
                                        </div>
                                        <!-- END HORIZONTAL DESCRIPTION LISTS PORTLET-->
                                    </div>
                                    <div class="span6"> 
                                        <h4 class="title grey" style="font-weight:bold; color:#000;">Organizer Response Details</h4>
                                        <!-- BEGIN HORIZONTAL DESCRIPTION LISTS PORTLET-->
                                        <div class="widget blue">
                                            <div class="widget-title">
                                                <h4><i class="icon-reorder"></i> Organizer Response Details </h4>
                                            </div>
                                            <div class="widget-body">
                                                <div class="row-fluid">
                                                    <div class= "span12">
                                                        <h3>Trip Response:</h3>
                                                        <ul class=" unstyled amounts">
                                                            
    <li class="text-bold">AnyParticular Months	: From: max  &amp; To: min</li>
    <li  class="text-bold">Cost Include: Rs </li>
    <li  class="text-bold">Cost Exclude : Rs 500 </li>
    <li  class="text-bold">Quotations	: Rs 15000 </li>
    <li  class="text-bold">Pick-Up Location	: Pune</li>
    <li  class="text-bold">Drop Location	: Shivaji Nagar</li>
    <li  class="text-bold">Short Details	: 
        <p>
            The trip is about Rafting.
        </p>
    </li>



                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="row-fluid">
                                                    <!-- <div class= "span6">
                                                    <h3>Activities:</h3>
                                                    <ul class=" unstyled amounts">
                                                            <li class="text-bold">Land	: Rock climbing, Camping</li>
                                                        <li  class="text-bold">Water: Rafting,Sailing</li>
                                                        <li  class="text-bold">Aero	: Paramotoring,Hang Gliding</li>
                                                        <li  class="text-bold">Off-Beat  : Cycling,Caving </li>
                                                        <li  class="text-bold">Location  : Goa , Shimla,Srinagar.</li>
                                                        
                                                   </ul>
                                                   </div> -->
                                                    <!-- <div class= "span6">
                                                      <h3>Location:</h3>
                                                      <ul class=" unstyled amounts">
                                                             
                                                         <li  class="text-bold">Zone	: Shivaji Nagar</li>
                                                                                                              <li  class="text-bold">State 	: Maharashtra</li>
                                                                                                              <li  class="text-bold">Region	: Baner </li>
                                                                                                               <li  class="text-bold">Location	: Baner </li>
                                                                                                                <li  class="text-bold">Country	: India</li>
                                                                                                                
                                                        
                             </ul>
                                                     </div> -->

                                                </div>
                                            </div>
                                            <!-- END row-fluid --> 
                                        </div>
                                        <!-- END HORIZONTAL DESCRIPTION LISTS PORTLET--> 
                                    </div>
                                </div>
                            </div>
                            <!-- END BLANK PAGE PORTLET-->
                        </div>
                    </div>
                    <!-- END PAGE CONTENT-->
                </div>
                <!-- END PAGE CONTAINER-->
            </div>
            <!-- END PAGE -->  
        </div>
        <!-- END CONTAINER -->
 </div>
</body>
<!-- END BODY -->
{%endblock%}

{%block javascripts %}
{{parent()}}

{%endblock%}