{%if message is not defined %}
{% else %}
    {{message}}
{% endif %}
<form action="{{path('forgot_password_mail')}}" method="post" />
Enter your E-mail Id : 
<input type="email" id="email" name="email"  placeholder="Registered email id" class="login username-field" />
<button class="button btn btn-warning btn-large">Submit</button>
</form>