{% extends "::admin.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Adventure Bidding System | Admin Edit Profile{%endblock%} 


{% block body %}
   
<!-- BEGIN BODY -->
<body class="fixed-top">
   
   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">
      
      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                 
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="">
                           My Profile <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Edit Profile
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
      <div class="row-fluid">
          
        <div class="span12"> 
            <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
          <!-- BEGIN ACCORDION PORTLET-->
          <div class="widget blue">
            <div class="widget-title">
              <h4><i class="icon-user"></i>Edit Admin Inforation</h4>
            </div>
            <div class="widget-body">
              <div class ="row-fluid">
                <div class="span12">
                    {{form_start(Form,{'attr':{'class':'form-vertical'} } )}}
                    <div class="well">
                      <h3>Personal Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Full Name</label>
                            {{ form_widget(Form.name,{'attr':{'class':'input-block-level'} } ) }}
                          </div>
                        </div>
                        
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Email </label>
                            {{ form_widget(Form.email,{'attr':{'class':'input-block-level'} } ) }} {{  form_errors(Form.email) }}
                          </div>
                        </div>
                         <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Phone No </label>
                            {{ form_widget(Form.phone,{'attr':{'class':'input-block-level'} } ) }} {{  form_errors(Form.phone) }}
                          </div>
                        </div>
                         
                        
                       
                      </div>
                      <h3>Location Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Country</label>
                            {{ form_widget(Form.country,{'attr':{'class':'input-block-level chzn-select','id':'select2_sample4'} }) }} {{  form_errors(Form.country) }}
                            
                          </div>
                        </div>
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label labelmargin" >Area Code</label>
                            {{ form_widget(Form.zip,{'attr':{'class':'input-block-level'} } ) }} {{  form_errors(Form.zip) }}
                          </div>
                        </div>
                        
                        <div class="span4">
                        <div class="control-group">
                          <label class="input-block-level"> Address: </label>
                          <div class="controls">
                            {{ form_widget(Form.address,{'attr':{'class':'span12'} } ) }} {{  form_errors(Form.address) }}
                          </div>
                        </div>
                      </div>
                      </div>
                      <hr>
                      <div class="row-fluid">
                      
                        <div class="span4">
                        
                         <div class="control-group">
                                    <label class="control-label">Image Upload</label>
                                    <div class="controls">
                                        <div data-provides="fileupload" class="fileupload fileupload-new">
                                            <div style="width: 200px; height: 150px;" class="fileupload-new thumbnail">
                                                <img alt="" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                                            </div>
                                            <div style="max-width: 200px; max-height: 150px; line-height: 20px;" class="fileupload-preview fileupload-exists thumbnail"></div>
                                            <div>
                                               <span class="btn btn-file"><span class="fileupload-new">Select image</span>
                                               <span class="fileupload-exists">Change</span>
                                               {{ form_widget(Form.applicantphoto,{'attr':{'class':'default'} }) }} {{  form_errors(Form.applicantphoto) }}</span>
                                                <a data-dismiss="fileupload" class="btn fileupload-exists" href="#">Remove</a>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                        
                        </div>
                      
                      </div>
                    </div>
                   
                    
                    {{ form_rest(Form) }}
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Submit">
                      <a href="{{path('adventure_bidding_user_edit_profile')}}"><button type="button" class="btn btn-default">Cancel</button></a>
                    </div>
                  {{form_end(Form)}}
                </div>
              </div>
              
              
             
              
            </div>
            <!-- END ACCORDION PORTLET--> 
          </div>
        </div>
        
        <!-- END PAGE CONTENT--> 
      </div>
      
      <!-- END PAGE CONTENT--> 
      
    </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->

    
	
{%endblock%}
   
{%block javascripts %}
{{parent()}}
    <script type="text/javascript">
		$(document).ready(function() {
		$('.multipl').multiselect();
		});
    </script>

{%endblock%}