{% extends "::admin.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System | User Profile{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">

      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     Change Password
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="index.html">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Change Password
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
                <div class="row-fluid">
                <div class="span12">
                    <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
                    <!-- BEGIN ACCORDION PORTLET-->
                    <div class="widget blue">
                        <div class="widget-title">
                            <h4><i class="icon-user"></i>Change Password</h4>
						</div>
                        <div class="widget-body">
                            <div class="accordion" id="accordion1">
								<div class="accordion-group">
                                    <div id="collapse_4" class="accordion-body collapse in">
                                        <div class="accordion-inner">
                                        	<!--Submit massege-->
                                        	
                                            <form  id="change_password" method="POST" action="{{ path('adventure_update_password')}}" name="changepassword" enctype="multipart/form-data">      
						<label class="control-label">Current Password</label>
						<input type="password" name="currentPassword" class="m-wrap span8" required/>
						<label class="control-label">New Password</label>
						<input type="password" class="m-wrap span8" name="newPassword" required/>
						<label class="control-label">Re-type New Password</label>
						<input type="password" class="m-wrap span8" name="confirmPassword" required/>
						<div class="submit-btn">
                                                    <button class="btn btn-primary" type="submit">Save</button>
                                                    <a href="{{path('adventure_change_password')}}"><button class="btn btn-default" type="button">Cancel</button></a>
                                            </div>
					</form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- END ACCORDION PORTLET-->
                </div>
            </div>

            <!-- END PAGE CONTENT-->         
         </div>

            <!-- END PAGE CONTENT-->         
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->
   </div>
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}