<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>Metronic | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="{{asset('home/assets1/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/plugins/bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/css/style-metro.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/css/style.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/css/style-responsive.css')}}" rel="stylesheet" type="text/css"/>
	<link href="{{asset('home/assets1/css/themes/default.css')}}" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="{{asset('home/assets1/plugins/uniform/css/uniform.default.css')}}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="{{asset('home/assets1/plugins/select2/select2_metro.css')}}" />
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="{{asset('home/assets1/css/pages/login.css')}}" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="{{asset('home/favicon.ico')}}" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo">
		<!--<img src="assets1/img/logo-big.png" alt="" /> -->
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
    <header class="headertop">
        	<h3 class="text-bold white">Adventure Bidding System</h3>
			<span class="title"><strong>Admin Sign In</strong></span>
		</header>
		<!-- BEGIN LOGIN FORM -->
		<form class="form-vertical login-form" action="{{ path('login_check') }}" method="post">
			<div class="seprator"></div>
                        <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->
			{#<div class="alert alert-error hide">
				<button class="close" data-dismiss="alert"></button>
				<span>Enter any username and password.</span>
			</div>#}
			<div class="control-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">Username</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
                                                <input type="text" name="_username" class="m-wrap placeholder-no-fix" autocomplete="off" placeholder="Email">
						{#<input class="m-wrap placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username"/>#}
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">Password</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-lock"></i>
                                                <input type="password" name="_password" class="m-wrap placeholder-no-fix" placeholder="Password" autocomplete="off">
						{#<input class="m-wrap placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password"/>#}
					</div>
				</div>
			</div>
			<div class="form-actions">
				<a href="{{path('adventure_login_index')}}" class="btn">
				<i class="m-icon-swapleft"></i>  Back
				</a>
                                <input type="submit" class="btn green pull-right " value="SIGN IN">
				{#<a  href="admin/userlist.html" type="submit" class="btn green pull-right">
				Login <i class="m-icon-swapright m-icon-white"></i>
				</a> #}           
			</div>
			
			
		</form>
		<!-- END LOGIN FORM -->        
		<div class="footsec black">
			
            2014 &copy; Adventure Bidding System.
            
		</div>
		
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<!--<div class="copyright">
		2014 &copy; Adventure Bidding System.
	</div>-->
	<!-- END COPYRIGHT -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->   
	<script src="{{asset('home/assets1/plugins/jquery-1.10.1.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('home/assets1/plugins/jquery-migrate-1.2.1.min.js')}}" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="{{asset('home/assets1/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js')}}" type="text/javascript"></script>      
	<script src="{{asset('home/assets1/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('home/assets1/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js')}}" type="text/javascript" ></script>
	<!--[if lt IE 9]>
	<script src="{{asset('home/assets/plugins/excanvas.min.js')}}"></script>
	<script src="{{asset('home/assets/plugins/respond.min.js')}}"></script>  
	<![endif]-->   
	<script src="{{asset('home/assets1/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('home/assets1/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>  
	<script src="{{asset('home/assets1/plugins/jquery.cookie.min.js')}}" type="text/javascript"></script>
	<script src="{{asset('home/assets1/plugins/uniform/jquery.uniform.min.js')}}" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="{{asset('home/assets1/plugins/jquery-validation/dist/jquery.validate.min.js')}}" type="text/javascript"></script>	
	<script type="text/javascript" src="{{asset('home/assets1/plugins/select2/select2.min.js')}}"></script>     
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="{{asset('home/assets1/scripts/app.js')}}" type="text/javascript"></script>
	<script src="{{asset('home/assets1/scripts/login.js')}}" type="text/javascript"></script> 
	<!-- END PAGE LEVEL SCRIPTS --> 
	<script>
		jQuery(document).ready(function() {     
		  App.init();
		  Login.init();
		
		 
		
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>