{% extends '::base.html.twig' %}
{% block stylesheets %}
{{parent()}}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
{% endblock %}
{% block title %}Adventure Bidding System | Login{% endblock%}

{% block body %}

	<div id="flatix">
		<header class="headertop">
        	<h3>Adventure Bidding System</h3>
			<span class="title"><strong>Member Sign In</strong></span>
		</header>
       
            <section> 
              
                 {% for flashMessage in app.session.flashbag.get('notice') %} 
                     <div class="alert alert-success fade in">
                              <button data-dismiss="alert" class="close" type="button">×</button>
                              <h5 class="alert-heading">Success!</h5>
                              <p>
                                  {{ flashMessage }}
                              </p>
                          </div>
                    
                    {% endfor %}
                    
                    {% if error is not defined %}
                    {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                              <button data-dismiss="alert" class="close" type="button">×</button>
                              <h4 class="alert-heading">Message!</h4>
                              <p>
                                  {{ error.message }}
                              </p>
                          </div>
                        {% endif %}
                    {% endif %}
               
                {{form_start(Form, {'attr': {'class': 'loginform'} })}}
                    
			<div class='row'>
				<label for="username">Username</label>
                                {{ form_widget(Form.username, {'attr': {'class': 'maill','placeholder': 'Username '} }) }}{{  form_errors(Form.username) }}
				{#<input type="text" placeholder="E-mail"  name='email' data-required="true" data-type="email" data-error-message="Your E-mail is required">#}
			</div>
                        <div class='row'>
				<label for="email">E-mail</label>
                                {{ form_widget(Form.email, {'attr': {'class': 'maill','placeholder': 'E-mail '} }) }}{{  form_errors(Form.email) }}
				{#<input type="text" placeholder="E-mail"  name='email' data-required="true" data-type="email" data-error-message="Your E-mail is required">#}
			</div>
			<div class='row'>
				<label for="cemail">Password</label>
                                {{ form_widget(Form.password, {'attr': {'class': 'passwordd','placeholder': 'Password '} }) }}{{  form_errors(Form.password) }}
				{#<input type="text" placeholder="Password" name='cemail' data-required="true" data-error-message="Your E-mail must correspond">#}
			</div>
                        <div class='row'>
				<label for="cemail">Confirm Password</label>
                                {{ form_widget(Form.confirmpassword, {'attr': {'class': 'passwordd','placeholder': 'Confirm Password '} }) }}{{  form_errors(Form.confirmpassword) }}
				{#<input type="text" placeholder="Confirm Password" name='cemail' data-required="true" data-error-message="Your E-mail must correspond">#}
			</div>
                        
                    {{ form_rest(Form, {'attr': {'class': 'login'} }) }}
                        <input type="submit" value="Register" id="save">
                {{form_end(Form)}}
                    
			<div class="or">
				<div class="facebook">
					<a href="{{path('adventure_login_user_register')}}" title="Sign up">SignUp as User</a>
				</div>
				<div class="twitter">
					<a href="{{path('adventure_login_organiser_register')}}" title="Sign up">SignUp as Organizer</a>
				</div>
				
			</div>
		</section>
		<footer>
			
            Copyright &copy; 2006 - 2015
            
		</footer>
	</div>
    

<!--model for forgate password-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Enter your email id to get a link</h4>
    </div>
    <div class="modal-body">
        <form action="#" method="post">
            <input type="email" class="span6" placeholder="Enter your email id">
            <p>After click on submit, please check your mail</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Submit</button>
    </div>
    </div>
    
 <!--End model for forgate password-->   

 {% endblock %}
{% block javascripts %}
{{parent()}}

 <script src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>  
  <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
{% endblock %}