{% extends "::registerationbase.html.twig" %}
    {% block stylesheets %}
         
 {%endblock%}
        
{% block body %}
	
    <!-- BEGIN LOGO -->
	<div class="logo">
		<!-- <img src="assets/img/logo-big.png" alt="" />  -->
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN Registration FORM -->
		<form class="form-vertical login-form" action="#" method="post">
			<h3 class="form-title text-center"> User Sign Up </h3>
			<div class="alert alert-success fade in">
                              <button data-dismiss="alert" class="close" type="button"></button>
                              <h4 class="alert-heading">Successfully..!</h4>
                              <span> Registration Done </span>
                          </div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">Full Name</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-user"></i>
						<input class="m-wrap placeholder-no-fix" type="text" autocomplete="off" placeholder="Full Name" name="username"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">Email</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-envelope-alt"></i>
						<input class="m-wrap placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="username"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">Password</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-lock"></i>
						<input class="m-wrap placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password"/>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
				<div class="controls">
					<div class="input-icon left">
						<i class="icon-ok"></i>
						<input class="m-wrap placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword"/>
					</div>
				</div>
			</div>
			
			<div class="form-actions">
			      <a href="{{path('login')}}" type="button" class="btn">
				<i class="m-icon-swapleft"></i>  Back
				</a>
				<button type="submit" id="register-submit-btn" class="btn green pull-right">
				Sign Up <i class="m-icon-swapright m-icon-white"></i>
				</button>            
			</div>
			
	  <div class="fbgmail">
            	<div class="btn blue btn-block ">
                	<a href="#">Facebook Sign up</a>
                </div>
                <div class="btn red btn-block">
                	<a href="#">Gmail Sign up</a>
                </div>
            </div>
		</form>
		<!-- END Registration FORM -->        
		
	</div>
	<!-- END LOGIN -->
    
{%endblock%}
  

{%block javascripts %}
{{parent()}}
  <script>
		jQuery(document).ready(function() {     
		  App.init();
		  Login.init();
		});
	</script>
{%endblock%}
