Dear User,

        Welcome to www.adventureclicknblog.com, the adventure hub of India.
        We again, thank you for registering with us.
        We need to make sure you are human. Please verify your email and get started using your Website account.
        
        Username : {{email}}
        Password : {{emailCheck}}

        You can follow us in facebook at https://www.facebook.com/adventureclicknblog?ref=hl

        Warm Regards,
        Admin,
        www.adventureclicknblog.com

