<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Adventure Bidding System | Login</title>
    
        <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
</head>

<body>
	<div id="flatix">
		<header class="headertop">
        	<h3>Adventure Bidding System</h3>
			<span class="title"><strong>Member Sign In</strong></span>
		</header>
       
		<section> <div class="" title="login notification massege"></div>
			<form class="loginform" action="#">
				<input type="text" name="email" class="maill" placeholder="E-Mail Address">
				<input type="password" name="password" class="passwordd" placeholder="Password">
				<a href="#myModal" role="button" data-toggle="modal" title="Lost your password?">Lost your password?</a>
				{#<input type="submit" class="login" value="SIGN IN">#}
                                <a href="{{path('dashboard')}}" class="login" title="Sign In">SIGN IN</a>
			</form>
			<div class="or">
				<div class="facebook">
					<a href="{{path('usersignup')}}" title="Sign up">SignUp as User</a>
				</div>
				<div class="twitter">
					<a href="{{path('orgsignup')}}" title="Sign up">SignUp as Organizer</a>
				</div>
				
			</div>
		</section>
		<footer>
			
            Copyright &copy; 2006 - 2015
            
		</footer>
	</div>
    

<!--model for forgate password-->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Enter your email id to get a link</h4>
    </div>
    <div class="modal-body">
        <form action="#" method="post">
            <input type="email" class="span6" placeholder="Enter your email id">
            <p>After click on submit, please check your mail</p>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Submit</button>
    </div>
    </div>
    
 <!--End model for forgate password-->   

    
    

  
  <script src="{{ asset('js/jquery-1.8.3.min.js') }}"></script>  
  <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>


</body>

</html>

{#{% if error is not defined %}
{% else %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}
{% endif %}
 {%if message is not defined %}
                {% else %}
                    <br><strong>Message : </strong> {{message}}<br>
                {% endif %}
<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username"  />
 
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" /><button type="submit">login</button><br>
    <a href="{{path('forgot_password')}}">Forgot Password </a>
    
</form>#}
