@charset "utf-8";
/* CSS Document */


blockquote, q { quotes: none; }
/* remember to define focus styles! */
:focus, a:focus, a:active{    outline: 0; }
/* remember to highlight inserts somehow! */
ins{ text-decoration: none; }
del{ text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse: collapse; border-spacing: 0;}
/* float uygulanan elemanlari kapsayamama sorunu */
.kapsayamamaSorunu:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.kapsayamamaSorunu {display: inline-block;}
/* IE-mac de bu bolumu sakla \ */
* html .kapsayamamaSorunu {height: 1%;}
.kapsayamamaSorunu {display: block;}
/* IE-mac bu bolumu saklam artik */
/* Css Sifirlama */

.t{clear: both;}
body{ background:#666 !important;}
#flatix{width: 300px; margin:0px auto; top:40% !important; left:40%; margin-top:100px; background-color:#ecf0f1; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px;}
.headertop{width: 260px; height: auto; text-align: center; padding: 10px 20px 10px 20px; color: white; background-color: #34495e; -moz-border-top-left-radius: 5px; -webkit-border-top-left-radius: 5px; -khtml-border-top-left-radius: 5px; -moz-border-top-right-radius: 5px; -webkit-border-top-right-radius: 5px; -khtml-border-top-right-radius: 5px;}
h1.title{font-size: 20px; font-weight: 400; text-shadow: 1px 1px 1px #2c3e50;}
section{width: 260px; height: auto; padding: 20px;}
.loginform a{font-size: 11px; color: #7f8c8d;}
.loginform a:hover{text-decoration: underline;}
.maill{width: 202px; height: auto; padding: 10px 17px 10px 40px !important; font-size: 15px; color: #7f8c8d; background: #ecf0f1 !important; margin-bottom: 10px; border:0px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; ransition: .3s ease-in-out; -webkit-transition: .3s ease-in-out;}
.maill:hover{box-shadow: 0px 0px 5px #3498db;}
.maill:focus{box-shadow: 0px 0px 5px #2ecc71; color: #2ecc71;}
.passwordd{width: 202px; height: auto; padding: 10px 17px 10px 40px !important; font-size: 15px; color: #7f8c8d; background: #ecf0f1 !important; margin-bottom: 10px; border:0px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out;}
.passwordd:hover{box-shadow: 0px 0px 5px #3498db;}
.passwordd:focus{box-shadow: 0px 0px 5px #2ecc71; color: #2ecc71;}
.login{width: 260px !important;
 height: auto; 
 padding: 10px !important; 
 text-align: center; 
 font-size: 16px; 
 color: white; 
 text-shadow: 1px 1px 1px #c0392b; 
 box-shadow: 0px 3px 0px #c0392b; 
 margin-top: 10PX; 
 background-color: #e74c3c; 
 border:0px; 
 -moz-border-radius: 5px; 
 -webkit-border-radius: 5px; 
 -khtml-border-radius: 5px; transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out;}
.login:hover{background-color: #c0392b; text-decoration:none;}
.or{margin-top: 10px; border-top: 1px; border-top-color: #ecf0f1; border-top-style: solid;}
.facebook a{float: left; width: 105px; height: auto; padding: 10px; 
color: white; text-align: center; font-size: 11px; background: #297fb8; 
border-bottom:2px; border-bottom-color: #206da5; border-bottom-style: solid; 
text-shadow: 1px 1px 1px #206da5; transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out; }
.facebook a:hover{ background-color: #206da5; text-decoration:none; color:#fff}
.twitter a{float: right; width: 105px; height: auto; padding: 10px; color: white; text-align: left; font-size: 11px; background: #3598dc; border-bottom:2px; border-bottom-color: #2886cc; border-bottom-style: solid; text-shadow: 1px 1px 1px #2886cc; transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out;}
.twitter a:hover{background-color: #2886cc; text-decoration:none; color:#fff}
.footsec{width: 280px;  margin-top: 30px;
	height: auto; text-align: center; padding: 10px; color: white; 
	background-color: #bdc3c7; bottom: 0;
	-moz-border-bottom-left-radius: 5px; -webkit-border-bottom-left-radius: 5px; 
	-khtml-border-bottom-left-radius: 5px; -moz-border-bottom-right-radius: 5px; 
	-webkit-border-bottom-right-radius: 5px; -khtml-border-bottom-right-radius: 5px;}
.signup a{float: left; width: 105px;
 height: auto;
  padding: 10px;
   color: #000;
   margin-right:5px;
    text-align:center;
	 font-size: 11px;
	  border-bottom:2px;
	   border-bottom-color: #2886cc; border-bottom-style: solid; text-shadow: 1px 1px 1px #2886cc;
	    transition: .3s ease-in-out; -webkit-transition: .3s ease-in-out;}
