{% extends "::userbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid"> 
  
  <!-- BEGIN PAGE -->
  <div id="main-content"> 
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row-fluid">
        <div class="span12"> 
          
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title">
                    Confirm Payment Page
                   </h3> 
                   <ul class="breadcrumb">
                       <li>
                           <a href="index.html">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li>
                           <a href="userdash.html">Request List</a>
                           <span class="divider">/</span>
                       </li>
                       <li>
                        <a href="userrequestpage.html">User Request and Comments</a>
                          <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Confirm Payment
                       </li>
                       
                   </ul>
          <!-- END PAGE TITLE & BREADCRUMB--> 
        </div>
      </div>
      <!-- END PAGE HEADER--> 
      <!-- BEGIN PAGE CONTENT-->
      <div class="row-fluid">
        <div class="span12"> 
          <!-- BEGIN BLANK PAGE PORTLET-->
          <div class="widget blue">
            <div class="widget-title">
              <h4><i class="icon-question-sign"></i> Confirm Payment</h4>
            </div>
            <div class="widget-body">
              <div class="row-fluid">
                <div class="span12">
                  <div class="span12"> 
                    <!--BEGIN TABS-->
                    <div class="tabbable custom-tab">
                      <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1_1" data-toggle="tab">Conversations Details</a></li>
                        <li><a href="#tab_1_3" data-toggle="tab">Feedback</a></li>
                        <li><a href="#tab_1_4" data-toggle="tab">Payment Options</a></li>
                      </ul>
                      <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                          <div class="span6"> 
                            
                            <!-- BEGIN HORIZONTAL DESCRIPTION LISTS PORTLET-->
                            <div class="widget blue">
                              <div class="widget-title">
                                <h4><i class="icon-reorder"></i> User’s Request Details </h4>
                              </div>
                              <div class="widget-body">
                                <div class="row-fluid">
					<div class= "span12">
					<h3>Trip Info:</h3>
                       <ul class=" unstyled amounts">
                                                 	 <li class="text-bold">Trip Name	: {{request.name}}</li>
                                                     <li  class="text-bold">No of Males: {{request.male}}</li>
                                                     <li  class="text-bold">No Of Females	: {{request.female}}</li>
                                                     <li  class="text-bold">No Of Travellers	: {{request.traveler}} </li>
                                                     <li  class="text-bold">Pick-Up Location	: {{request.pick}}</li>
                                                     <li  class="text-bold">Drop Location	: {{request.down}}</li>
							<li  class="text-bold">Trip Tentative (in days)	: {{request.day}}</li>
							{% if request.team == 0 %}
                                                            <li  class="text-bold">Combine Group	: No</li>
                                                     {% else %}
                                                            <li  class="text-bold">Combine Group	: Yes</li>
                                                     {% endif %}
                                                    
                         </ul>
						 </div>
						 </div>
						 <div class="row-fluid">
						 <div class= "span6">
						 <h3>Activities:</h3>
						 <ul class=" unstyled amounts">
                                                 	 <li class="text-bold">{#{{request.activity.typeOfActivity}}#}</li>
						</ul>
						</div>
						<div class= "span6">
						  <h3>Location:</h3>
						  <ul class=" unstyled amounts">
                                                 	 
                                                     <li  class="text-bold">Zone	: {{request.zone}}</li>
							<li  class="text-bold">Country	: {{request.country}}</li>
													    
                                                    
                         </ul>
						 </div>
						  
                    </div>
                     <div class="row-fluid">
					<div class= "span12">
					<h3>Special Requirements:</h3>
                       <ul class=" unstyled amounts">
                           <li class="text-bold"><p> {{request.description}}</p></li>
                                                     
                                                    
                         </ul>
						 </div>
						 </div>
                              </div>
                              <!-- END row-fluid --> 
                            </div>
                            <!-- END HORIZONTAL DESCRIPTION LISTS PORTLET--> 
                          </div>
                           <div class="span6"> 
                            
                            <!-- BEGIN HORIZONTAL DESCRIPTION LISTS PORTLET-->
                            <div class="widget blue">
                              <div class="widget-title">
                                <h4><i class="icon-reorder"></i> Organizer Response Details </h4>
                              </div>
                              <div class="widget-body">
                                <div class="row-fluid">
					<div class= "span12">
					<h3>Trip Response:</h3>
                       <ul class=" unstyled amounts">
                                                 	 <li class="text-bold">AnyParticular Months	: From: 02-10-12  &amp; To: 08-12-12</li>
                                                     <li  class="text-bold">Cost Include: Rs 1500</li>
                                                     <li  class="text-bold">Cost Exclude : Rs 500 </li>
                                                     <li  class="text-bold">Quotations	: Rs 15000 </li>
                                                     <li  class="text-bold">Pick-Up Location	: Pune</li>
                                                     <li  class="text-bold">Drop Location	: Shivaji Nagar</li>
													  <li  class="text-bold">Short Details	: 
													  <p>
													        The trip is about Rafting.
													  </p>
													  </li>
													 
														
                                                    
                         </ul>
						 </div>
						 </div>
						 <div class="row-fluid">
						 <!-- <div class= "span6">
						 <h3>Activities:</h3>
						 <ul class=" unstyled amounts">
                                                 	 <li class="text-bold">Land	: Rock climbing, Camping</li>
                                                     <li  class="text-bold">Water: Rafting,Sailing</li>
                                                     <li  class="text-bold">Aero	: Paramotoring,Hang Gliding</li>
                                                     <li  class="text-bold">Off-Beat  : Cycling,Caving </li>
                                                     <li  class="text-bold">Location  : Goa , Shimla,Srinagar.</li>
                                                     
						</ul>
						</div> -->
						<!-- <div class= "span6">
						  <h3>Location:</h3>
						  <ul class=" unstyled amounts">
                                                 	 
                                                     <li  class="text-bold">Zone	: Shivaji Nagar</li>
													  <li  class="text-bold">State 	: Maharashtra</li>
													  <li  class="text-bold">Region	: Baner </li>
													   <li  class="text-bold">Location	: Baner </li>
													    <li  class="text-bold">Country	: India</li>
													    
                                                    
                         </ul>
						 </div> -->
						  
                    </div>
                              </div>
                              <!-- END row-fluid --> 
                            </div>
                            <!-- END HORIZONTAL DESCRIPTION LISTS PORTLET--> 
                          </div>
                        </div>
                        
                        <div class="tab-pane" id="tab_1_3"> 
                          <!-- BEGIN PAGE CONTENT-->
                          <div class="row-fluid">
                            <div class="span12"> 
                              <!-- BEGIN BLANK PAGE PORTLET-->
                              <div class="widget blue">
                                <div class="widget-title">
                                  <h4><i class="icon-edit"></i> Feedback </h4>
                                </div>
                                <div class="widget-body">
                                
                                    <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal">
                            
                            
                            <div class="control-group">
                                <label class="control-label">Give Your Valuable Feedback</label>
                                <div class="controls">
                                    <textarea class="span6 " rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-actions submit">
                                <button type="submit" class="btn btn-success">Submit</button>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                            </form>
                            <!-- END FORM-->
                                
                                 </div>
                              </div>
                              <!-- END BLANK PAGE PORTLET--> 
                            </div>
                          </div>
                          <!-- END PAGE CONTENT--> 
                        </div>
                        <div class="tab-pane" id="tab_1_4"> 
                        <!-- BEGIN PAGE CONTENT-->
                          <div class="row-fluid">
                          
                            <div class="span12"> 
                              <!-- BEGIN BLANK PAGE PORTLET-->
                              <div class="widget blue">
                                <div class="widget-title">
                                  <h4><i class="icon-edit"></i> Payment Options </h4>
                                </div>
                                <div class="widget-body">
                                <dl>
                           <div class="alert alert-block alert-info fade in">
                             
                              <h4 class="alert-heading">Offline Payement</h4>
                              <p>
                                 By selcting Offline  Payment options, You will be recieving mails in your inbox for further Transcation details .
                              </p>
                          </div>
                          
                           <div class="alert alert-block alert-info fade in">
                             
                              <h4 class="alert-heading">Online Payement</h4>
                              <p>
                                 By selcting Online Payment options, You will be redirected to payments page .
                              </p>
                          </div>
                          
                            
                        </dl>
                                    <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal">
                            
                            
                            <div class="control-group">
                                    <label class="control-label">Deal Type</label>
                                    <div class="controls">
                                        <label class="radio line">
                                            <input type="radio" name="optionsRadios2" value="0" />
                                           Offline Payment
                                        </label>
                                        <label class="radio line">
                                            <input type="radio" name="optionsRadios2" value="1" checked />
                                            Online Payment
                                        </label>
                                     </div>
                                </div>
                            <div class="form-actions submit">
                                <a href="{{path('adventure_bidding_user_request_conform_payment')}}" class="btn btn-success">Submit</a>
                                <button type="button" class="btn">Cancel</button>
                            </div>
                            </form>
                            <!-- END FORM-->
                                
                                 </div>
                              </div>
                              <!-- END BLANK PAGE PORTLET--> 
                            </div>
                           
                          </div>
                          <!-- END PAGE CONTENT--> 
                        
                        </div>
                      </div>
                    </div>
                    <!--END TABS--> 
                  </div>
                  <div class="space10 visible-phone"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- END BLANK PAGE PORTLET--> 
        </div>
      </div>
      <!-- END PAGE CONTENT--> 
    </div>
    <!-- END PAGE CONTAINER--> 
  </div>
  <!-- END PAGE --> 
</div>
<!-- END CONTAINER --> 

</body>
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}