{% extends "::userbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System{%endblock%} 


{% block body %}
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
  
   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">
      
      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                    Recent Bidding Information
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="{{path('adventure_home')}}">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Request List
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
               <div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                
                <div class="widget blue">
                    <div class="widget-title">
                        <h4><i class="icon-search"></i> Filter Your Search</h4>
                         
                    </div>
                    <div class="widget-body">
                         <form class="form-inline" method="post">
                         <div class="row-fluid">
                         
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Filter Search</label>
                          <div class="controls">
                                    <select class="span8 " data-placeholder="Choose a Category" tabindex="1">
                                        <option value="">Select...</option>
                                        <option value="Activities">Activities</option>
                                        <option value="Zones">Zones</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                          
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Search</label>
                           <div class="controls">
                          <input type="text" class="span8"/>   
                          </div>
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          
                          <label class="control-label"></label>
                          <div class="controls">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Submit</button>
                         <button type="button" class="btn">Cancel</button>
                
               </div>
                          </div>
                         </div>
                         
                         
                         </div>
                         
                         </form>
                        
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
                <div class="row-fluid">
                    <!--marquee start here-->
                    <div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget blue">
                            <div class="widget-title">
                                <h4>Bidding Info</h4>
                            </div>
                            <div class="widget-body">
                                 <table class="table table-striped table-bordered  table-hover" id="sample_1">
                                    <thead>
                                    <tr>
                                    	 <th class="hidden-phone">Sr. No.</th>
                                         <th>Your Request</th>
                                         <th>Option</th>
                                       	 <th>Status</th>
                                         <th>Received Bid</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% set count = '1' %}
                                        {% for requestUser in requestUser %}
                                    <tr>
                                    	 <td class="hidden-phone">{{count}}</td>
                                         <td>{{requestUser.name }}</td>
                                         {% if(requestUser.status=="0") %}
                                         <td> {#<a href="#" class="btn btn-primary" title="Can't edit close request"><i class="icon-pencil"></i></a>
                                             <a href="{{path("adventure_bidding_user_delete_request",{"id":requestUser.id})}}" title='Delete'><button class="btn btn-danger"><i class="icon-trash "></i></button></a>#}
                                             <a title="Request Closed" value="Request Closed">Conformed</a>
                                        </td>
                                        <td><span class="label label-success label-mini">Close</span></td>
                                            <td><a href="{{path("adventure_bidding_user_view_close_request",{"id":requestUser.id})}}" class="btn btn-success" title='View Detail'>Click to See</a></td>
                                            
                                            
                                         {% else %}
                                            <td> <a href="{{path("adventure_bidding_user_edit_request",{"id":requestUser.id})}}" title='Edit' class="btn btn-primary"><i class="icon-pencil"></i></a>
                                            
                                                <a onclick="return confirm('Are you sure you want to delete this member ?')"href="{{path("adventure_bidding_user_delete_request",{"id":requestUser.id})}}" title='Delete'><button class="btn btn-danger" onclick="return conformed('Are You sure you want to delete')"><i class="icon-trash "></i></button></a>
                                        </td>
                                        <td><span class="label label-important label-mini">Open</span></td>
                                         <td><a href="{{path("adventure_bidding_user_view_open_request",{"id":requestUser.id})}}" class="btn btn-success" title='View Detail'>Click to See</a></td>
                                         {% endif%}
                                        
                                    </tr>
                                    {% set count = count + '1' %}
                                    {% endfor %}
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
                         <!--marquee End here-->
                </div>
                
                
            </div>

            <!-- END PAGE CONTENT-->         
         </div>
         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->
</body>
{%endblock%}
   
{%block javascripts %}
{{parent()}}


{%endblock%}