{% extends "::userbase.html.twig" %}

{% block stylesheets %}
{{parent()}}
{%endblock%}

{%block title%}Welcome to Adventure Bidding System | User Request{%endblock%} 


{% block body %}
    <!-- BEGIN BODY -->
<body class="fixed-top">

<!-- BEGIN CONTAINER -->
<div id="container" class="row-fluid">
 
<!-- BEGIN PAGE -->
<div id="main-content"> 
  <!-- BEGIN PAGE CONTAINER-->
  <div class="container-fluid"> 
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
      <div class="span12"> 
        
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title"> </h3>
        <ul class="breadcrumb">
          <li> <a href="{{path('adventure_home')}}">Home</a> <span class="divider">/</span> </li>
          <li class="active"> Post Request </li>
         
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB--> 
      </div>
    </div>
    <!-- END PAGE HEADER--> 
    <!-- BEGIN PAGE CONTENT-->
    <div id="page-wraper">
      <div class="row-fluid">
        <div class="span12"> 
          <!-- BEGIN ACCORDION PORTLET-->
          <!-- Acknowledgement message start -->
			{% for flashMessage in app.session.flashbag.get('notice') %} 
                            <div class="alert alert-success fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Success!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% for flashMessage in app.session.flashbag.get('warning') %} 
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ flashMessage }}
                                  </p>
                              </div>
                        {% endfor %}
                        {% if error is not defined %}
                        {% else %}
                        {% if error %}
                            <div class="alert alert-danger fade in">
                                  <button data-dismiss="alert" class="close" type="button">×</button>
                                  <h4 class="alert-heading">Error!</h4>
                                  <p>
                                      {{ error.message }}
                                  </p>
                              </div>
                            {% endif %}
                        {% endif %}
                        <!-- Acknowledgement message end -->  
          <div class="widget blue">
            <div class="widget-title">
              <h4><i class="icon-user"></i>Edit User Inforation</h4>
            </div>
            <div class="widget-body">
              <div class ="row-fluid">
                <div class="span12">
                    {{form_start(editForm)}}
                    <div class="well">
                      <h3>Trip Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Trip Name</label>
                            {{ form_widget(editForm.name) }} {{  form_errors(editForm.name) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Duration Of Trip</label>
                          {{ form_widget(editForm.day) }} {{  form_errors(editForm.day) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label >Journey Date </label>
                            {{ form_widget(editForm.dateMin,{'attr':{'class':'datepicker span5'} }) }} {{  form_errors(editForm.dateMin) }}
                            
                            To
                            {{ form_widget(editForm.dateMax ,{'attr':{'class':'datepicker span5'} }) }} {{  form_errors(editForm.dateMax) }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="well">
                      <h3>Location Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Country</label>
                            {{ form_widget(editForm.country) }} {{  form_errors(editForm.country) }}
                          </div>
                        </div>
                        <div class="span4" style='display: none;'>
                          <div class="control-group">
                            <label class="control-label labelmargin" >Location</label>
                            {{ form_widget(editForm.location) }} {{  form_errors(editForm.location) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Zones</label>
                            <div class="controls">
                                {{ form_widget(editForm.zone) }} {{  form_errors(editForm.zone) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="well">
                      <h3> Groups Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Number Of Males</label>
                            {{ form_widget(editForm.male) }} {{  form_errors(editForm.male) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Number Of Females</label>
                            {{ form_widget(editForm.female) }} {{  form_errors(editForm.female) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Number Of Traveller</label>
                            {{ form_widget(editForm.traveler) }} {{  form_errors(editForm.traveler) }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="well">
                      <h3> Activities Details </h3>
                      <hr>
                      <div class ="row-fluid">
                        <div class="span4">
                          <div class="form-group">
                            <label class="control-label">Activities</label>
                            {{ form_widget(editForm.activity) }} {{  form_errors(editForm.activity) }}
                          </div>
                        </div>
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Pick-Up Location</label>
                           {{ form_widget(editForm.pick) }} {{  form_errors(editForm.pick) }}
                            
                          </div>
                        </div>
                        <div class="span4">
                          <div class="control-group">
                            <label class="control-label" >Drop-Off Location</label>
                            {{ form_widget(editForm.down) }} {{  form_errors(editForm.down) }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="well">
                      <h3> Other Details </h3>
                      <hr>
                    <div class ="row-fluid">
                      
                      <div class="span12">
                        <div class="control-group">
                          <label class="control-label">If your group size is too small for an organizer to respond, are you open for us to combine your group with others who are looking for the exact or similar trips?  </label>
                          <div class="controls">
                             {{ form_widget(editForm.team) }} {{  form_errors(editForm.team) }}
                          </div>
                        </div>
                        
                      </div>
                       </div>
                       <hr>
                       <div class ="row-fluid">
                      <div class="span12">
                        <div class="control-group">
                          <label class="input-block-level"> Special Requirement: </label>
                          <div class="controls">
                               {{ form_rest(editForm)}}
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    
                    <div class="form-actions">
                      <button class="btn btn-primary" id="save" type="submit"> Submit</button>
                      <button type="button" class="btn btn-default">Cancel</button>
                    </div>
                  {{form_end(editForm)}}
                </div>
              </div>
            </div>
            <!-- END ACCORDION PORTLET--> 
          </div>
        </div>
        
        <!-- END PAGE CONTENT--> 
      </div>
      
      <!-- END PAGE CONTENT--> 
      
    </div>
    
    <!-- END PAGE CONTAINER--> 
  </div>
  <!-- END PAGE --> 
</div>
<!-- END CONTAINER --> 
</div>
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}
{{parent()}}
    <script type="text/javascript">
		$(document).ready(function() {
		$('.multipl').multiselect();
		});
	</script> 
    <script type="text/javascript">
    $('#example-single-selected').multiselect();
    </script> 
    <script>
    $('.datepicker').datepicker({
        format: 'mm/dd/yyyy',
        startDate: '-3d'
    })
     function getValue(){
        var a = document.getElementById('userRequest_male').value;
        var b = document.getElementById('userRequest_female').value;
         
        var c = parseInt(a) + parseInt(b) ;
        document.getElementById('userRequest_traveler').value = c ;
    }
    </script> 

{%endblock%}    
    