{% extends "::admin.html.twig" %}


{% block stylesheets %}{%endblock%}

{%block title%}Welcome Admin to Adventure Bidding System{%endblock%} 


{% block body %}


    <!-- BEGIN BODY -->
<body class="fixed-top">
{% for flashMessage in app.session.flashbag.get('notice') %} {{ flashMessage }} {% endfor %}
      <!-- BEGIN PAGE -->  
      <div id="main-content">
         <!-- BEGIN PAGE CONTAINER-->
         <div class="container-fluid">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                  
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                    Admin Dashboard
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="{{path('adventure_home')}}">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           All Request
                       </li>
                       
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
           <div id="page-wraper">
               <div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                
                <div class="widget blue">
                    <div class="widget-title">
                        <h4><i class="icon-search"></i> Filter Your Search</h4>
                         
                    </div>
                    <div class="widget-body">
                         <form class="form-inline" method="post">
                         <div class="row-fluid">
                         
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Filter Search</label>
                          <div class="controls">
                                    <select class="span8 " data-placeholder="Choose a Category" tabindex="1">
                                        <option value="">Select...</option>
                                        <option value="Activities">Activities</option>
                                        <option value="Zones">Zones</option>
                                        <option value="Category 3">Category 5</option>
                                        <option value="Category 4">Category 4</option>
                                    </select>
                                </div>
                          
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          <label class="control-label">Search</label>
                           <div class="controls">
                          <input type="text" class="span8"/>   
                          </div>
                          </div>
                         </div>
                         <div class="span4">
                          <div class="control-group">
                          
                          <label class="control-label"></label>
                          <div class="controls">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Submit</button>
                         <button type="button" class="btn">Cancel</button>
                
               </div>
                          </div>
                         </div>
                         
                         
                         </div>
                         
                         </form>
                        
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
                <div class="row-fluid">
                    <!--marquee start here-->
                    <div class="span12">
                        <!-- BEGIN BASIC PORTLET-->
                        <div class="widget blue">
                            <div class="widget-title">
                                <h4>All User List</h4>
                            </div>
                            <div class="widget-body">
<table class="table table-striped table-bordered  table-hover" id="sample_1">
    <thead>
        <tr>
            <th class="hidden-phone">Sr. No.</th>
            <th >Username</th>
            <th >Contact</th>
            <th >Email</th>
            <th >Country</th>
            <th >Created ON</th>
            <th >Status</th>

        </tr>
    </thead>
    <tbody>
        {% set count = '1' %}
        {% for member in member %}
        <tr>
            <td>{{ count }}</td>
            <td>&nbsp;{{member.name }}</td>
            <td>&nbsp;{{member.phone }}</td>
            <td>&nbsp;{{member.email }}</td>
            <td>&nbsp;{{member.country }}</td>
            <td>&nbsp;{{member.createdAt|date('Y-m-d') }} </td>
             <td><a onclick="return confirm('Are you sure you want to delete this member ?')" class="btn btn-danger" href="{{path("adventure_admin_user_delete",{"id":member.id})}}"><i class="icon-trash "></i></a> &nbsp;</a>
                    {% if member.status =='1' %}
                        <a href='javascript:void(0)'  onclick='return getval(0,{{ member.memberid }},this)' > Active</a>
                    {% else %}
                        <a href='javascript:void(0)'  onclick='return getval(1,{{ member.memberid }},this)' >InActive</a>
                    {% endif %}
            </td>
        </tr>
        {% set count = count + '1' %}
        {% endfor %}
    </tbody>
</table></div>
                        </div>
                        <!-- END BASIC PORTLET-->
                    </div>
                         <!--marquee End here-->
                </div>
                
                
            </div>

            <!-- END PAGE CONTENT-->         

      </div>
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->

    
</body>
<!-- END BODY -->
{%endblock%}
   
{%block javascripts %}


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript"> 
         
            function getval(value1, ids, caller) {
                   
               var i = ids;
                var status = value1;
                //alert(i);
                $(caller).html('Wait..');
                $.post("{{path('adventure_admin_member_status')}}", {userid: i, status: status}, function(data){
                    if (data == 'OK')
                    {
                        location.reload();
                    } else {
                        //Error occured dispay
                        alert(data);
                    }

                });
            }
          
        </script>
        
{%endblock%}