UPDATE PROFILE

{% if message is defined %}
      {{message}}
{% endif %}

{{form_start(Form)}}
    <br>
    Name : {{ form_widget(Form.name) }} {{  form_errors(Form.name) }}<br>
    Email : {{ form_widget(Form.email) }} {{  form_errors(Form.email) }}<br>
    Phone : {{ form_widget(Form.phone) }} {{  form_errors(Form.phone) }}<br>
    Address : {{ form_widget(Form.address) }} {{  form_errors(Form.address) }}<br>
    Zip : {{ form_widget(Form.zip) }} {{  form_errors(Form.zip) }}<br>
    Country : {{ form_widget(Form.country) }} {{  form_errors(Form.country) }}<br>
    Image : {{ form_widget(Form.applicantphoto) }} {{  form_errors(Form.applicantphoto) }}
    {{ form_rest(Form) }}
    <button class="btn btn-success" id="save" type="submit"> <i class="icon-ok"></i>Submit</button>
{{form_end(Form)}}
    
