Response ORGANISER : 

{{form_start(Form)}}
    <br>
    1. Any particular date or month you are offering?<br>
            a. Option of Date From {{ form_widget(Form.dateMin) }} {{  form_errors(Form.dateMin) }} To {{ form_widget(Form.dateMax) }} {{  form_errors(Form.dateMax) }}<br>
            2. Your quote (all inclusive): Rs 1000 (including taxes and any other charges){{ form_widget(Form.totalCost) }} {{  form_errors(Form.totalCost) }}<br>
            3. Here is a short itinerary and details: Provide a word limit{{ form_widget(Form.description) }} {{  form_errors(Form.description) }}<br>
            4. Pick up point: Type it {{ form_widget(Form.pick) }} {{  form_errors(Form.pick) }}<br>
            5. Drop of point: Type it {{ form_widget(Form.down) }} {{  form_errors(Form.down) }}<br>
            6. Cost include: We will provide 3-4 bullet points {{ form_widget(Form.includeCost) }} {{  form_errors(Form.includeCost) }}<br>
            7. Costs exclude: We will provide 3-4 bullet points  {{ form_widget(Form.excludeCost) }} {{  form_errors(Form.excludeCost) }}<br>
    {{ form_rest(Form) }}
    <button class="btn btn-success" id="save" type="submit"> <i class="icon-ok"></i>Submit</button>
{{form_end(Form)}}
    
    
    