{% if message is defined %}
      {{message}}
{% endif %}<br><br>

View Close Request-Response<br><br><br>

User Request Details :<br><br><br> 

    
    Trip Name : {{request.name}}<br>
    No of Males: {{request.male}}<br>
    No Of Females : {{request.female}}<br>
    No Of Travellers : {{request.traveler}}<br>
    Pick-Up Location : {{request.pick}}<br>
    Drop Location : {{request.down}}<br>
    Trip Tentative (in days) : {{request.day}}<br>
    
    Combine Group : {% if(request.team=='1')%}Yes{% else %}No{% endif %}<br>

{#Activities : {{request.activity}}<br>#}

    

Location : {{request.location}}<br><br><br><br> 

    
Organiser Response Details :<br><br><br> 


    AnyParticular Months : <br>
    Cost Include: <br>
    Cost Exclude : <br>
    Quotations : <br>
    Pick-Up Location : <br>
    Drop Location : <br><br>
    Short Details :<br>


